<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalagam - {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/drop.png')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='scss/styles.css')}}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="transparent" />
    <meta name="description" content="This Water Budget Application" />
    <link rel="manifest" href="{{url_for('static',filename='manifest.json')}}" />
</head>
<body>
    <!--Overlay-->
    <div id="loading-spinner" class="overlay">
        <!--Spinner-->
        <div id="loading-wrapper">
          <div id="loading-text">LOADING</div>
          <div id="loading-content"></div>
        </div>
    </div>
    <nav class="navbar fixed-top bg-primary justify-content-between py-2">        
        <div class="ms-2">
            <a class="navbar-brand text-white" href="{{url_for('mobile.index')}}">
                <span class="me-2"><i class="fa-solid fa-droplet"></i></span>Jalagam</a>
        </div>
        <div class="me-2 dropdown">            
            <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                {% if current_user.is_authenticated %}
                <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a></li>
                <li><a class="dropdown-item" href="{{url_for('mobile.home')}}">Budget</a></li>
                    {% if current_user.isAdmin %}
                    <li><a class="dropdown-item" href="{{url_for('auth.approve')}}">Approve</a></li>
                    {% endif %}
                {% else %}
                <li><a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a></li>
                <li><a class="dropdown-item" href="{{url_for('mobile.index')}}">Home</a></li>
                {% endif %}
            </ul>            
        </div>
      </nav>

    {% from 'mobile/components.html' import bottom_menu, toggle_button, progress_bar, approve_button %}    
   <div class="container-fluid h-100">
    
    <div class="mt-5">
        {#{% if 'index' in request.path or 'home' in request.path or 'auth/' in request.path %}#}
        <div class="mt-5">&nbsp;</div> <!--important!-->
        {#{% else %}#}
        <!-- <label for="progress_bar" class="text-white fs-8 fw-bold">Validation Progress</label> -->
        {#{{progress_bar()}}#}
        {#{% endif %}#}
    </div>
    
    <div class="card border-primary text-center h-80 mt-3">
        <div class="card-header bg-primary p-1">
        </div>
        <div class="card-body d-flex flex-column">
            {% if breadcrumbs %}
            <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                <ol class="breadcrumb fs-9">
                    <!-- <li class="breadcrumb-item "><a class=" link-underline link-underline-opacity-0" href="/home"><strong>Home</strong></a></li> -->
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a class="link-underline link-underline-opacity-0 {% if loop.index == breadcrumbs | length %} link-dark {% endif %}" href="{{breadcrumb.href}}">
                        {{breadcrumb.name}}
                    </a>
                </li>
                {% endfor %}
                </ol>
            </nav> 
            </div>
            {% endif %} 
            {% block content %}
            {% endblock %}
            <!-- {#{% if 'index' in request.path or 'home' in request.path or 'auth/' in request.path%}
            <div>&nbsp;</div>
            {% else %}
            {{approve_button()}}
            {% endif %}#} -->
        </div>
        <div class="card-footer bg-primary p-1">
        </div>
    </div>
   </div>
    <div class="fixed-bottom">       
        {{ bottom_menu(menu_array=menu|default([])) }}
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3 mb-6">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <span class="me-2"><i class="fa-solid fa-droplet"></i></span>
            <strong class="me-auto">Jalagam says...</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" id="flashMesssageDiv">
            {{flash_message}}
          </div>
        </div>
      </div>
    <!--SCRIPTs -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script> 
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>    
    <script>
        // Tooltip
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        // Toggle dropdown
        const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
        const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))

        // toggle toast
        const toastDiv = document.getElementById('liveToast');
        const flash_message = document.getElementById('flashMesssageDiv').innerText
            if (flash_message.trim() !== 'false' && flash_message.trim() !== '') {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastDiv);
            toastBootstrap.show();
        }
        document.addEventListener('DOMContentLoaded', () => {
            const bottomMenu = document.querySelector('.fixed-bottom.bg-dark.bottom-menu.fade-in');
            if (bottomMenu){bottomMenu.classList.add('show')}            
        });
        function toggleSpinner() {
            const spinner = document.getElementById('loading-spinner');
            spinner.style.display = (spinner.style.display === 'none' || spinner.style.display === '') ? 'block' : 'none';
            }
        const carousel = document.querySelector("#cardCarousel");
        const radio1 = document.querySelector("#radio-1");
        const radio2 = document.querySelector("#radio-2");
        if (carousel){
            document.querySelectorAll('.tab').forEach((label, index) => {
            label.addEventListener('click', () => {
                // Update the carousel slide using Bootstrap's API
                const carousel = new bootstrap.Carousel('#cardCarousel');
                carousel.to(index);
                });
            });
            // Add event listener for the carousel slide
            if (radio1){
                    carousel.addEventListener("slid.bs.carousel", function (event) {
                    const activeIndex = [...carousel.querySelectorAll(".carousel-item")].indexOf(
                        carousel.querySelector(".carousel-item.active")
                    );

                    if (activeIndex === 0) {
                        radio1.checked = true;
                    } else if (activeIndex === 1) {
                        radio2.checked = true;
                    }
                });
            }            
        }   
    </script>
    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('/ijalagam/static/service-worker.js').then(function(registration) {
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              console.log('ServiceWorker registration failed: ', err);
            });
          });
        }
      </script>
    {% block scripts %}
    {% endblock %}
    <!--END SCRIPTS-->
</body>
</html>