{% extends 'base.html' %}
{% block title %}
<title>{{project_title}}</title>
{% endblock %}
{% block content %}
<div class="container-fluid mt-3 mb-3 box box1 " style="width: 100%;">
    <h1 class="mt-3 mb-3 text-center">{{project_title}}</h1>
    <div class="card border-primary mb-3 justify-content-center box box2" style="width: 100%;">
        <a href="{{ url_for('dashboard.finance_month' ,name = project_title) }}" style="text-decoration: none; color: inherit;">
            <div class="card-header align-items-center p-0" style="margin: 0px;">
                <div class="row">
                    
                    <div class="col-2 pt-1 align-items-center">
                        <div class="header-icon text-center">
                            <i class="fa-solid fa-angle-right fa-xl" style="color: #5f5c5c;"></i>
                        </div>
                    </div>
                    <div class="col">
                        <b>
                            <div class="text-center fs-5">PLANNED & ACTUALS</div>
                        </b>
                    </div>
                    <div class="col-2"></div>
                    
                </div>
            </div>
        </a>
        <div class="card-body justify-content-center">
            <canvas id="myMixed">
            </canvas>
        </div>
        <!-- <div class="card-footer text-center">
            <h4>Percentage</h4>
        </div> -->
    </div>    
    {% for month in pf %}
    <div class="card bg-transparent text-white justify-content-center border-bottom" style="width: 100%; border: none; border-radius: 0%;">
        
        <div class="card-body justify-content-center">
            
            <div class="row" style="height: fit-content;">
                <div class="col-8">
                    <h4>{{month['month_year'].strftime('%b-%y')|capitalize}}</h4>
                    <h6>Planned : {{'%0.2f'|format(month['planned'])}}</h6>
                    <h6>Actuals : {{'%0.2f'|format(month['actuals'])}}</h6>
                    <h6>Gap : {{'%0.2f'|format(month['gap'])}}</h6>
                </div>
                <div class="col-4 d-flex align-items-center text-center  mt-4 mb-4" ><h4>{{'%0.2f'|format(month['percent']*100) +' %'}}</h4></div>
            </div>
            
        </div>
    </div>
    {%endfor%}


</div>
{%endblock%}

{% block script %}
<script>
    const scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#simple-list-example'
    });
    const dataMixed = {
        labels: {{ labels_mixed_chart | safe}},
    datasets: [{
        type: 'line',
        label: 'Cumm_planned',
        data: {{ cumm_planned_datalist | safe}},
        fill: false,
        borderColor: '#9CB946',
        stack: 'stack2',
            }, {
        type: 'line',
        label: 'Cumm_actuals',
        data: {{ cumm_actuals_datalist | safe}},
        fill: false,
        borderColor: '#116DEE',
        stack: 'stack3',
            }, {
        type: 'bar',
        label: 'Planned',
        data: {{ planned_data | safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: '#6346B9',
        stack: 'stack0',
            }, {
        type: 'bar',
        label: 'Actual',
        data: {{ actuals_data | safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: '#EE9211',
        stack: 'stack1',
            },]
        };
    const configMixed = {
        type: 'line',
        data: dataMixed,
        options: {
            plugins: {
                /*title: {
                  display: true,
                  text: 'Planned vs Actuals',
                  font: {
                    size: 30,
                  } 
                }*/
            },
            scales: {
                y: {
                    stacked: true
                }
            }
        }
    };

    const mixedChart = new Chart(
        document.getElementById('myMixed'),
        configMixed
    );

    // ## PLANNED Vs ACTUALS BAR AND LINE CHART
    const data_all_expenses = {
        labels: {{ labels_mixed_chart | safe}},
    datasets: [{
        type: 'line',
        label: 'Planned',
        data: {{ total_cumm_planned | safe}},
        fill: false,
        borderColor: '#9CB946',
        stack: 'stack2',
        }, {
        type: 'line',
        label: 'Actuals',
        data: {{ total_cumm_actuals | safe}},
        fill: false,
        borderColor: '#116DEE',
        stack: 'stack3',
        }, {
        type: 'bar',
        label: 'Fixed Cost',
        data: {{ fixed_cost | safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: '#6346B9',
        stack: 'stack0',
        }, {
        type: 'bar',
        label: 'Running Cost',
        data: {{ running_cost | safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: '#EE9211',
        stack: 'stack1',
        }, {
        type: 'bar',
        label: 'Activities',
        data: {{ activities_cost | safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: '#9CB946',
        stack: 'stack4',
        }, {
        type: 'bar',
        label: 'Obligos',
        data: {{ obligos_cost | safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: '#116DEE',
        stack: 'stack5',
        }]
    };
    const config_all_expenses = {
        type: 'line',
        data: data_all_expenses,
        options: {
            plugins: {
                /*title: {
                  display: true,
                  text: 'Planned vs Actuals',
                  font: {
                    size: 30,
                  } 
                }*/
            },
            scales: {
                y: {
                    stacked: true
                }
            }
        }
    };

    const all_expenses_chart = new Chart(
        document.getElementById('all_expenses_mixed_chart'),
        config_all_expenses,
    );
</script>
{% endblock %}