<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification Email</title>
  <style>
    /* Center the image and heading */
    img{
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    h2 {
    text-align: center;
    margin-bottom: 15px;
    }
  </style>
</head>

<body>
  <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;">
    <img src="https://wasca.in/isaksham/static/assets/saksham_tag3-3.png" title="saksham_tag3-3.png" alt="saksham_tag3-3.png" style="max-width:100%; height:auto;">
    <h2>OTP Verification</h2>
    <p>Hello {name},</p>
    <p>Your One-Time Password (OTP) for verification is: <strong>{otp}</strong></p>
    <p style="font-size: 24px; font-weight: bold; color: #007bff;"></p>
    <p>Please use this OTP to verify your identity.</p>
    <p>If you didn't request this OTP, please ignore this email.</p>
    <p>Regards,<br>E Saksham (Digital Learning Platform)</p>
  </div>
</body>

</html>