{%extends 'base.html'%}
{% block title %}
<title>User Manual - E-Saksham</title>
{%endblock%}
{%block content%}
<!-- for desktops and laptops -->
<div class="d-none d-md-block">
    <div class="container-fluid m-0 p-0" style="background-color: #A3A2A2; width: 100%;">
        <div class="row roboto pt-4 justify-content-center text-center">
            <div class="fs-1 fw-semibold text-white">User Manual</div>
            <div class="container mt-3" id="overlay" style="width: fit-content; z-index: 2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-3 m-0">
                        <li class="breadcrumb-item"><a href="{{url_for('learning.home')}}" class="text-secondary"
                                style="text-decoration: none;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                href="{{url_for('learning.user_manual')}}" style="text-decoration: none;">User
                                Manual</a></li>
                    </ol>
                </nav>
            </div>

        </div>
        <div class="row" style="margin-top: -30px; z-index: 1;">
            <div class="container" id="overlay" style="width: 45%; height: 100px;"></div>
        </div>
        <div class="row p-0" style="height: 50px; min-width: 100%; margin-top:-70px; background-color: white;"></div>
    </div>
    <div class="container-fluid m-0 p-0 bg-white justify-content-center" style="width: 100%; display: flex;">
        <div class="row py-5 mb-5" style="width: 50%;">
            <div id="pdf-container"></div>
        </div>
    </div>
</div>

<!-- for mobiles -->
<div class=" d-sm-block d-md-none">
    <div class="container-fluid m-0 p-0" style="background-color: #A3A2A2; width: 100%;">
        <div class="row roboto pt-4 justify-content-center text-center">
            <div class="fs-1 fw-semibold text-white">User Manual</div>
            <div class="container mt-3" id="overlay" style="width: fit-content; z-index: 2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-3 m-0">
                        <li class="breadcrumb-item"><a href="{{url_for('learning.home')}}" class="text-secondary"
                                style="text-decoration: none;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                href="{{url_for('learning.user_manual')}}" style="text-decoration: none;">User
                                Manual</a></li>
                    </ol>
                </nav>
            </div>

        </div>
        <div class="row" style="margin-top: -30px; z-index: 1;">
            <div class="container" id="overlay" style="width: 80%; height: 100px;"></div>
        </div>
        <div class="row p-0" style="height: 50px; min-width: 100%; margin-top:-70px; background-color: white;"></div>
    </div>
    <div class="container-fluid m-0 p-0 bg-white justify-content-center" style="width: 100%; display: flex;">
        <div class="row py-3 mb-3" style="width: 100%;">
            <div id="pdf-container-mobile" class="p-0"></div>
        </div>
    </div>
    

</div>
{%endblock%}

{%block script%}
<script>
    // Path to your PDF file
    var pdfFile = 'static/assets/E-Saksham-Flyer-for-19-Workshop_Final.pdf';

    // PDF.js rendering
    pdfjsLib.getDocument(pdfFile).promise.then(function (pdf) {
        pdf.getPage(1).then(function (page) {
            var scale = 1.5;
            var viewport = page.getViewport({ scale: scale });
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
            document.getElementById('pdf-container').appendChild(canvas);
        });
    });
</script>
<script>
    // Path to your PDF file
    var pdfFile_mobile = 'static/assets/E-Saksham-Flyer-for-19-Workshop_Final.pdf';

    // PDF.js rendering
    pdfjsLib.getDocument(pdfFile_mobile).promise.then(function (pdf) {
        pdf.getPage(1).then(function (page) {
            var scale = 0.7;
            var viewport = page.getViewport({ scale: scale });
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
            document.getElementById('pdf-container-mobile').appendChild(canvas);
        });
    });
</script>

{%endblock%}