<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jalagam - {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/drop.png')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='scss/styles.css')}}">
</head>
<body class="fade-in">
    <!--Overlay-->
    <div id="loading-spinner" class="overlay">
      <!--Spinner-->
      <div id="loading-wrapper">
        <div id="loading-text">LOADING</div>
        <div id="loading-content"></div>
      </div>
    </div>
    <nav class="navbar fixed-top bg-primary justify-content-between align-items-center">
          <a class="navbar-brand text-white ms-2 fw-lighter" href="{{url_for('routes.index')}}"><i class="fa-solid fa-droplet"></i> Jalagam</a>
          <h3 class="me-5 text-white my-1 fw-light">{% if breadcrumbs %}{{breadcrumbs[breadcrumbs|length - 1].name}}{% endif %}</h3>
          <a class="text-white me-2" data-bs-toggle="offcanvas" data-bs-target="#offCanvasMenu" aria-controls="offCanvasMenu">
            <i class="fa-solid fa-bars py-2"></i>
          </a>
    </nav>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offCanvasMenu" aria-labelledby="offCanvasMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanvasMenuLabel">Jalagam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
              The current link item
            </a>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
          </div>
    </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5 w-100">
            <div class="m-3">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script>
    
    function toggleSpinner() {
            const spinner = document.getElementById('loading-spinner');
            spinner.style.display = (spinner.style.display === 'none' || spinner.style.display === '') ? 'block' : 'none';
          //   setTimeout(function() {
          //     document.getElementById("loading-spinner").style.display = "none";
          // }, 5000);
        }
    document.addEventListener('DOMContentLoaded', ()=>{
      document.body.classList.add('loaded');
      // toggleSpinner();
      // setTimeout(function() {
      //       document.getElementById("loading-spinner").style.display = "none";
      //     }, 500);
      // document.getElementById("loading-spinner").style.display = "block";
      // setTimeout(function() {
      //       document.getElementById("loading-spinner").style.display = "none";
      //     }, 500);
    });
    document.addEventListener('beforeunload', ()=>{
      toggleSpinner();
      setTimeout(function() {
            document.getElementById("loading-spinner").style.display = "none";
          }, 500);
      // document.getElementById("loading-spinner").style.display = "block";
      // setTimeout(function() {
      //       document.getElementById("loading-spinner").style.display = "none";
      //     }, 500);
    });

    // function menu_link(event, route) {
    //   event.preventDefault();
    //   toggleSpinner();
    //   window.location.href = route;
    //   toggleSpinner();
    // }

    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
<!--
docker build -t apps-container .
aws lightsail push-container-image --service-name cdms-application --label apps-container --image apps-container
aws lightsail create-container-service-deployment --service-name cdms-application --containers file://containers.json --public-endpoint file://public-endpoint.json
-->