{% extends 'base.html' %}
{% block title %} Budget {% endblock %}
{% block content %}
{% from 'components/macros.html' import menu_link, display_card, menu_white_bg, card_header %}
<nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
    <ol class="breadcrumb fs-7">
        <!-- <li class="breadcrumb-item "><a class=" link-underline link-underline-opacity-0" href="/home"><strong>Home</strong></a></li> -->
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item">
        <a class="link-underline link-underline-opacity-0 {% if loop.index == breadcrumbs | length %} link-dark {% endif %}" href="{{breadcrumb.href}}">
            {{breadcrumb.name}}
        </a>
    </li>
    {% endfor %}
    </ol>
</nav>
<div class="card rounded-1 shadow mb-3">
    <div class="card-header">
        {{card_header(title='Water Budget', subtitle='in Thousand Ha M')}}
    </div>
    <div class="card-body">       
        <div class="row mb-3">
            {% for item in water_budget %}
            <div class="col">                
                <div class="d-flex {% if loop.index % 2 == 0 %} justify-content-start mt-4 {% else %} justify-content-end {% endif %} ">
                    {% if item.name.lower() == 'demand' %}
                        {{ display_card(isImage=False, content='fa-solid fa-glass-water', 
                        label=item.name|title, title='%0.2f'|format(item.consumption/1000|float), subtitle='Th Ha M', background=item.background) }}
                    {% else %}
                        {{ display_card(isImage=False, content='fa-solid fa-bottle-water', 
                        label=item.name|title, title='%0.2f'|format(item.consumption/1000|float), subtitle='Th Ha M', background=item.background)  }}
                    {% endif %}
                     {#<!-- {{div_card(name=item.name, population=item.consumption, background=item.background, index=loop.index)}} -->#}
                </div>
            </div> 
            {% endfor %}      
        </div>   
    </div>
</div>


<div class="card mb-3 rounded-1 shadow ">
    <div class="card-header">
        {{card_header(title='Demand vs Supply', subtitle='(in Thousand Ha M)')}}
    </div>
    <div class="card-body">
        <div class="containerpy-3">
            <div id="main" style="width: 100%;height:35vh;"></div>
        </div>
    </div>
</div>

<div class="card mb-5 rounded-1 shadow ">
    <div class="card-header">
        {{card_header(title='Water Budget', subtitle='Block Level')}}
    </div>
    <div class="card-body">
        <div class="container py-3">
            <table class="table table-bordered table-sm fs-7 mb-0">
                <thead class="text-center">
                    <tr class="bg-light">
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="fw-bold bg-danger bg-opacity-50">Demand</td>
                    </tr>
                    {% for row in demand_side %}
                    <tr>
                        <td>{{row.category | title}}</td>
                        <td class="text-end">{{'%0.2f'|format(row.value|float)}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="fw-bold bg-success bg-opacity-50">Supply</td>
                    </tr>
                    {% for row in supply_side %}
                    {% if row.category %}
                    <tr>
                        <td>{{row.category | title}}</td>
                        <td class="text-end">{{'%0.2f'|format(row.value|float)}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="fw-bold bg-info bg-opacity-50 text-center">Water Budget</td>
                    </tr>
                    {% for row in budget_side %}
                    <tr>
                        <td>{{row.description | title}}</td>
                        <td class="text-end">{{'%0.2f'|format(row.value|float)}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>
<input type="hidden" name="chartData" id="chartData" value="{{chart_data}}">
<nav class="fixed-bottom bg-dark">
    <div class="d-flex justify-content-evenly aligh-items-center px-3"> 

    {{menu_link(route=url_for('routes.human'), icon='fa-solid fa-chart-line',  name='demand')}}
    {{menu_white_bg(route=url_for('routes.index'), font_content='fa-solid fa-house')}}
    <!-- <div class="d-flex align-items-center p-1">
        <a href="{{url_for('.index')}}" class="link-underline link-underline-opacity-0 bg-primary-emphasis">
            <div class="card rounded-circle">
                <div class="text-center"><i class="fa-solid fa-house fs-4 p-2"></i></div>                    
            </div>
        </a>
    </div>  -->
    {{menu_link(route=url_for('routes.surface'), icon='fa-solid fa-glass-water-droplet',  name='supply')}}
    </div>
</nav>
{% endblock %}      
{% block scripts %}
<script>
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    let chart_data = JSON.parse(document.getElementById('chartData').value);
    var option;
    const data = chart_data;        
    option = {
        title:{
            text: data[0]['title'],
            left: 'center',
        },
        xAxis: {
            type: 'category',
            data: getCategories(data[0]['data']),
            axisLabel: {
                show: true,
                rotate: 45,
                textStyle: {
                fontSize: 8
                }
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
            label: {
                show: true,
                position: 'inside',
                formatter: function (params){
                if (params.value > 0 ) {
                    return params.value + '%'
                } 
                else {return ''} 
                
                },
                textStyle:{
                fontSize: 8,
                }
            },
            data: transformArray(data[0]['data']),
            type: 'bar'
            }
        ]
        };

        idx = 0
        setInterval(() => {
        myChart.setOption({
            title:{
            text: data[idx]['title'],
            left: 'center',
            },
            xAxis: {
            type: 'category',
            data: getCategories(data[idx]['data']),
            axisLabel: {
                show: true,
                rotate: 45,
                textStyle: {
                fontSize: 8
                }
            }
            },
            yAxis: {
            type: 'value',
            min: 0,
            max: 100,
            },
            series: [
            {
                
                label: {
                show: true,
                position: 'inside',
                formatter:function (params){
                if (params.value > 0 ) {
                    return params.value + '%'
                } 
                else {return ''} 
                
                },
                textStyle:{
                fontSize: 8,
                }
                },
                data: transformArray(data[idx]['data']),
                type: 'bar'
            }
            ]
        });
        idx=idx+1;
        if (idx==3) { idx=0 }
        }, 5000);



        function transformArray(input_array) {
            let output_array = [];
            input_array.forEach((value, idx) => {
                object = {
                value: value['value'],
                itemStyle: {
                    color: value['color']
                }
                }
                output_array.push(object);
            });
            return output_array;
            }

        function getCategories(input_array) {
        output_array=[];
        input_array.forEach((element, idx)=>{
            output_array.push(element['category'])
        });
        return output_array;
        }

    option && myChart.setOption(option);
</script>
{% endblock %}