{% extends 'base.html' %}
{% block title %} Select Block {% endblock %}
{% block content %}
{% from 'components/macros.html' import select, card_header %}
<div class="text-center display-1 my-3 text-white">
    <i class="fa-solid fa-scale-unbalanced-flip"></i>
</div>
<div class="card">
    <div class="card-header">
        {{card_header(title='Get Water Budget', subtitle='Select State/District/Block')}}
    </div>
    <div class="card-body">
        <form class="container" method="POST" action="{{url_for('routes.index')}}">
            {{select('state', 'selectState', default_option='Select State', dd_data=states)}}
            {{select('district', 'selectDistrict', default_option='Select District')}}
            {{select('block', 'selectBlock', default_option='Select Block')}}
            {# <!--{{select('panchayat', 'selectPanchayat', default_option='Select Panchayat', id='dd_panchayats')}}--> #}
            <div class="d-grid gap-2 my-5">
                <input type="submit" value="Submit" class="btn btn-primary shadow" id="btnSubmit" name="btnSubmit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    let url_prefix = '/ijalagam'
    let dd_states = document.getElementById('selectState');
    let dd_districts = document.getElementById('selectDistrict');
    let dd_blocks = document.getElementById('selectBlock');
    let btn_submit = document.getElementById('btnSubmit')

    dd_states.addEventListener('change', async () => {
        payload = {'state_id': dd_states.value};
        fetch_data(payload, url_prefix + '/districts').then(data => {
            dd_districts.innerHTML='';
            if(data){
                dd_districts.append(createOption('', 'Select District'));
                data.forEach(item => {
                    dd_districts.append(createOption(item['id'], item['name']));
                });
                dd_districts.removeAttribute('disabled');
                dd_blocks.innerHTML='';
                dd_blocks.append(createOption('', 'Select Blocks'));
                dd_blocks.setAttribute('disabled', 'disabled');
            } else {
                dd_districts.append(createOption('', 'No districts to display'));
                dd_districts.setAttribute('disabled', 'disabled');
            }
        });        
    });

    dd_districts.addEventListener('change', async () => {
        payload = {'district_id': dd_districts.value};
        fetch_data(payload, url_prefix + '/blocks').then(data => {
            dd_blocks.innerHTML='';
            if(data){
                dd_blocks.append(createOption('', 'Select Block'));
                data.forEach(item => {
                    dd_blocks.append(createOption(item['id'], item['name']));
                }); 
                dd_blocks.removeAttribute('disabled');
            } else {
                dd_blocks.append(createOption('', 'No blocks to display'));
                dd_blocks.setAttribute('disabled', 'disabled');
            }           
        });        
    });

    btn_submit.addEventListener('click', (event) =>{
        event.preventDefault();
        toggleSpinner();
        payload = {'state_id': dd_states.value, 'district_id':dd_districts.value, 'block_id': dd_blocks.value}
        fetch_data(payload,url_prefix + '/index').then(data=>{
            window.location.href = data;
            // toggleSpinner();
        });
    });

    // FUNCTIONS
    function createOption(option_value, option_text) {
        const option = document.createElement('option');
        option.value = option_value;
        option.text = option_text;
        return option;
    }

    async function fetch_data(payload, url) {
            const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8'
                    },
                    body: JSON.stringify(payload)
                });
            if(!response.ok){
                return null
            }
            const data = await response.json();
            return data;
        }
});
</script>
{% endblock %}