<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalagam - {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/drop.png')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='scss/styles.css')}}">
    <style>

    
    /*End Bottom Menu*/
    </style>
</head>
<body>
    <!--Overlay-->
    <div id="loading-spinner" class="overlay">
        <!--Spinner-->
        <div id="loading-wrapper">
          <div id="loading-text">LOADING</div>
          <div id="loading-content"></div>
        </div>
    </div>
    <nav class="navbar fixed-top bg-primary justify-content-between">        
        <div class="ms-2">
            <a class="navbar-brand text-white" href="{{url_for('mobile.index')}}">
                <span class="me-2"><i class="fa-solid fa-droplet"></i></span>Jalagam</a>
        </div>
        <div>
            <button class="btn text-white" type="button" data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <i class="fa-solid fa-bars"></i>
            </button>
        </div>
      </nav>

    {% from 'mobile/components.html' import bottom_menu, toggle_button, progress_bar, 
    approve_button %}    
   <div class="container-fluid h-100">
    <div class="mt-5">&nbsp;</div>
   <!-- {#<div class="mt-6">
        {% if 'index' in request.path or 'home' in request.path or 'auth/' in request.path %}
        <div class="mt-5">&nbsp;</div> 
        {% else %}
        <label for="progress_bar" class="text-white fs-8 fw-bold">Validation Progress</label>
        {{progress_bar()}}
        {% endif %}
    </div>#} -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mx-auto">   
    <div class="card border-primary text-center mt-3" id="dynamicCard">
        <div class="card-header bg-primary p-1">
        </div>
        <div class="card-body">
            {% if breadcrumbs %}
            <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                <ol class="breadcrumb fs-9">
                    <!-- <li class="breadcrumb-item "><a class=" link-underline link-underline-opacity-0" href="/home"><strong>Home</strong></a></li> -->
                {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item">
                    <a class="link-underline link-underline-opacity-0 {% if loop.index == breadcrumbs | length %} link-dark {% endif %}" href="{{breadcrumb.href}}">
                        {{breadcrumb.name}}
                    </a>
                </li>
                {% endfor %}
                </ol>
            </nav> 
            </div>
            {% endif %} 
            {% block content %}
            {% endblock %}
            {% if not is_approved %}
                {% if 'index' in request.path or 'home' in request.path or 'auth/' in request.path%}
                <div>&nbsp;</div>
                {% else %}
                {{approve_button()}}
                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer bg-primary p-1">
        </div>
    </div>     
</div>
   </div>
    <div class="fixed-bottom">
        {{toggle_button(labels=toggle_labels)}}        
        {{ bottom_menu(menu_array=menu|default([])) }}
    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenu">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasMenuLabel"><i class="fa-solid fa-droplet"></i>&nbsp;Jalagam</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p><strong>Menu</strong></p>
            <div class="list-group list-group-flush fs-7">
                {% if current_user.is_authenticated %}
                    {% if current_user.isAdmin %}
                    <a class="list-group-item list-group-item-action py-3" href="{{url_for('auth.approve')}}"><i class="fa-solid fa-gauge"></i>&nbsp;Dashboard</a>
                    <a class="list-group-item list-group-item-action py-3" href="{{url_for('auth.reset_password')}}"><i class="fa-solid fa-unlock-keyhole"></i>&nbsp;Reset Password</a>
                    {% endif %}
                    <a class="list-group-item list-group-item-action py-3" href="{{url_for('auth.change_password')}}"><i class="fa-solid fa-user-pen"></i>&nbsp;Change Password</a>
                    <a href="{{url_for('mobile.home')}}" class="list-group-item list-group-item-action py-3"><i class="fa-solid fa-scale-unbalanced-flip"></i>&nbsp;Water Budget</a>
                    <a href="{{url_for('auth.logout')}}" class="list-group-item list-group-item-action py-3"><i class="fa-solid fa-lock"></i>&nbsp;Logout</a>
                {% else %}
                <a href="{{url_for('auth.login')}}" class="list-group-item list-group-item-action py-3"><i class="fa-solid fa-lock-open"></i>&nbsp;Login</a>
                <a href="{{url_for('mobile.index')}}" class="list-group-item list-group-item-action py-3"><i class="fa-solid fa-scale-unbalanced-flip"></i>&nbsp;Water Budget</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% for message in flash_message %}
    {% if message %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3 mb-6">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <span class="me-2"><i class="fa-solid fa-droplet"></i></span>
            <strong class="me-auto">Jalagam says...</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body" id="flashMesssageDiv">
            {{message}}
          </div>
        </div>
      </div> 
      {% endif %}   
      {% endfor %}
    <!--SCRIPTs -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script> 
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>    
    <script>
        // Tooltip
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        
        // Toggle dropdown
        const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
        const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))

        // toggle toast
        const toastDiv = document.getElementById('liveToast');
        const flash_message = document.getElementById('flashMesssageDiv')
        if (flash_message) {
                if (flash_message.innerText.trim() !== 'false' && flash_message.innerText.trim() !== '') {
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastDiv);
                toastBootstrap.show();
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            const bottomMenu = document.querySelector('.fixed-bottom.bg-dark.bottom-menu.fade-in');
            if (bottomMenu){bottomMenu.classList.add('show')}            
        });
        function toggleSpinner() {
            const spinner = document.getElementById('loading-spinner');
            spinner.style.display = (spinner.style.display === 'none' || spinner.style.display === '') ? 'block' : 'none';
            }
        const carousel = document.querySelector("#cardCarousel");
        const radio1 = document.querySelector("#radio-1");
        const radio2 = document.querySelector("#radio-2");
        if (carousel){
            document.querySelectorAll('.tab').forEach((label, index) => {
            label.addEventListener('click', () => {
                // Update the carousel slide using Bootstrap's API
                const carousel = new bootstrap.Carousel('#cardCarousel');
                carousel.to(index);
                });
            });
            // Add event listener for the carousel slide
            if (radio1){
                    carousel.addEventListener("slid.bs.carousel", function (event) {
                    const activeIndex = [...carousel.querySelectorAll(".carousel-item")].indexOf(
                        carousel.querySelector(".carousel-item.active")
                    );

                    if (activeIndex === 0) {
                        radio1.checked = true;
                    } else if (activeIndex === 1) {
                        radio2.checked = true;
                    }
                });
            }            
        }
        
        function adjustCardHeight() {
        const card = document.getElementById('dynamicCard');
        const screenHeight = window.innerHeight;
        const cardHeight = screenHeight * 0.60; // 60% of screen height
        card.style.height = `${cardHeight}px`;
    }

    // Adjust the card height on page load
    adjustCardHeight();

    // Adjust the card height on window resize
    // window.addEventListener('resize', adjustCardHeight);
    </script>
    {% block scripts %}
    {% endblock %}
    <!--END SCRIPTS-->
</body>
</html>