{% extends 'base.html' %}
{% block title %} Industry {% endblock %}
{% from 'components/macros.html' import menu_link, div_card, menu_white_bg %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Industry Water Allocation</h1>
      <p class="col-md-8 fs-4">The industry data is still being updated. Once the data is updated the page is display industry water allocation aggregated at district or block level.</p>
      <button class="btn btn-primary btn-lg" type="button" disabled>coming soon...</button>
    </div>
  </div>

<!--FOOTER-->


<nav class="fixed-bottom bg-dark">
    <div class="d-flex justify-content-between aligh-items-center px-3"> 
      {{menu_link(route=url_for('routes.human'), icon='fa-solid fa-people-roof',  name='human')}}
      {{menu_link(route=url_for('routes.livestock'), icon='fa-solid fa-paw',  name='livestock')}}
      {{menu_white_bg(route=url_for('entries.budget'), font_content='fa-solid fa-scale-unbalanced-flip')}}
      {{menu_link(route=url_for('routes.crops'), icon='fa-brands fa-pagelines',  name='crops')}}
      {{menu_link(route=url_for('routes.industry'), icon='fa-solid fa-industry',  name='industry')}}

    </div>
</nav>
{% endblock %}