{% extends 'base.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}
{%block nav%}
Profile
{%endblock%}
{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center box box1" style="width: 100%; height: 80vh;">
    <div class="card border-primary mb-3 justify-content-center box2 mt-3" style="width: 100%;">
        <div class="card-header align-items-center p-0 border-bottom border-primary bg-primary text-light"
            style="margin: 0px;">
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <b>
                        <div class="text-center fs-6 fw-semibold ">CHANGE PASSWORD</div>
                    </b>
                </div>
                <div class="col-2 pt-1 align-items-center">

                </div>
            </div>
        </div>

        <div class="card-body justify-content-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="post" action="{{ url_for('admin.change_password',id=user.id) }}">
                <div class="form-group">
                    <label for="exampleInput" class="form-label mt-2">Current Password</label>
                    <input type="password" class="form-control" id="curr_pwd" name="curr_pwd" placeholder="Enter Current Password">
                </div>
                <div class="form-group">
                    <label for="exampleInput" class="form-label mt-2">New Password</label>
                    <input type="password" class="form-control" id="new_pwd" name="new_pwd" placeholder="Enter New Password">
                </div>
                <div class="form-group">
                    <label for="exampleInput" class="form-label mt-2">Confirm New Password</label>
                    <input type="password" class="form-control" id="new" name="new" placeholder="Enter Password Again">
                </div>
                <div class="text-danger fs-7" id="error-message" style="display: none;">Passwords do not match</div>
                
                <div class="text-center"><button type="submit" id="submit-btn" class="btn btn-primary mt-3">Change Password</button></div>
              
            </form>
            
    
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.getElementById('new_pwd');
        const confirmPasswordInput = document.getElementById('new');
        const submitButton = document.getElementById('submit-btn');
        const errorMessage = document.getElementById('error-message');
      
        function checkPasswordMatch() {
          if (passwordInput.value === confirmPasswordInput.value) {
            submitButton.disabled = false;
            errorMessage.style.display = 'none';
          } else {
            submitButton.disabled = true;
            errorMessage.style.display = 'block';
          }
        }
      
        // Add event listeners to password and confirm password fields
        passwordInput.addEventListener('input', checkPasswordMatch);
        confirmPasswordInput.addEventListener('input', checkPasswordMatch);
      });
      
</script>
{%endblock%}