<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Budget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/drop.png')}}">


    <style>
        .fs-5 {
            font-size: 1rem !important;
        }

        .fs-6 {
            font-size: 0.75rem !important;
        }

        .fs-7 {
            font-size: 0.6rem !important;
        }

        /* .table-fixed-size {
            table-layout: fixed;
        } */
        @media print {
            body {
                -webkit-print-color-adjust: exact;
                /* For Safari/Chrome */
                print-color-adjust: exact;
                /* Standard property */
            }
        }

        #loading-spinner {
            display: none;
        }

        .overlay {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

        #loading-wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        #loading-text {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            color: #999;
            width: 100px;
            height: 30px;
            margin: -7px 0 0 -45px;
            text-align: center;
            font-family: "PT Sans Narrow", sans-serif;
            font-size: 20px;
        }

        #loading-content {
            display: block;
            position: relative;
            left: 50%;
            top: 50%;
            width: 170px;
            height: 170px;
            margin: -85px 0 0 -85px;
            border: 3px solid transparent;
            border-top-color: #4D658D;
            border-bottom-color: #4D658D;
            border-radius: 50%;
            animation: loader 2s linear infinite;
        }

        #loading-content::before,
        #loading-content::after {
            content: "";
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
        }

        #loading-content::before {
            border-top-color: #D4CC6A;
            border-bottom-color: #D4CC6A;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            animation: loader 3s linear infinite;
        }

        #loading-content::after {
            border-top-color: #84417C;
            border-bottom-color: #84417C;
            left: 15px;
            right: 15px;
            top: 15px;
            bottom: 15px;
            animation: loader 1.5s linear infinite;
        }

        @keyframes loader {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>

<body>
    <div id="loading-spinner" class="overlay">
        <!--Spinner-->
        <div id="loading-wrapper">
            <div id="loading-text">LOADING</div>
            <div id="loading-content"></div>
        </div>
    </div>
    <div class="container px-5 d-print-none">
        <nav class="navbar navbar-expand-lg bg-transparent border-bottom p-0 border-dark">
            <div class="container-fluid d-flex justify-content-between my-2">
                <img src="{{url_for('static',filename='assets/niti_logo.png')}}" alt="niti_logo" height="40px"
                    class="ms-3">
                <img src="{{url_for('static',filename='assets/jalagam.png')}}" alt="jalagam" height="40px" class="ms-5">
                <img src="{{url_for('static',filename='assets/giz_logo.png')}}" alt="giz_logo" height="40px">
            </div>
        </nav>


        <div class="row mb-2 mx-1">
            <div class="col-4 mt-1 px-1" style="border-right: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">BASIC INFORMATION</div>
                <div class="container-fluid justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-sizes">
                        <tr>
                            <th>State</th>
                            <td class="text-start">{{basic_info['State Name']}}</td>
                        </tr>
                        <tr>
                            <th>District</th>
                            <td class="text-start">{{basic_info['District Name']}}</td>
                        </tr>
                        <tr>
                            <th>Block</th>
                            <td class="text-start">{{basic_info['Block Name']}}</td>
                        </tr>
                        <tr>
                            <th>No. of Villages</th>
                            <td class="text-start">{{basic_info['Village Count']}}</td>
                        </tr>
                        <tr>
                            <th>TGA</th>
                            <td class="text-start">{{basic_info['TGA']}}</td>
                        </tr>
                    </table>
                </div>

                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">WATER TRANSFER</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Water Transfer</th>
                            <th class="text-end">Quantity</th>
                        </tr>
                        {% for item in transfer_data %}
                        <tr>
                            <td>{{item['entity_name'] | title}}</td>
                            <td class="text-end">{{item['entity_value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ transfer_data | map(attribute='entity_value') | sum |
                                round(0)
                                }}
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">WATER BUDGET</div>
                <div class="container-fluid justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Value</th>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center fw-bold">Demand</td>
                        </tr>
                        {% for row in demand_side %}
                        <tr>
                            <td class="text-start">{{row.category | title}}</td>
                            <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="text-center fw-bold">Supply</td>
                        </tr>
                        {% for row in supply_side %}
                        <tr>
                            <td class="text-start">{{row.category | title}}</td>
                            <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="text-center fw-bold">Budget</td>
                        </tr>
                        {% for row in water_budget %}
                        <tr>
                            <td class="text-start">{{row.category | title}}</td>
                            <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            {% set total_supply = water_budget[1]['water_value'] %}
                            {% set total_demand = water_budget[0]['water_value'] %}
                            {% set water_budget_value = total_supply - total_demand %}
                            <td class="text-start fw-bold">
                                {% if water_budget_value < 0 %} Water is Deficient in Block. {% else %} Water is Surplus in Block. {%endif%}</td>
                            <td class="text-end fw-bold">
                                {{'%0.2f'|format(water_budget_value|float)}}</td>
                        </tr>
                    </table>
                </div>
                <div class="text-center my-2">
                    <button class="btn btn-outline-dark" id="btnPrint">Print</button>
                </div>
                <div class="text-center my-2">
                    <a class="btn btn-outline-dark text-decoration-none" id="btnExport">Export to
                        Excel</a>
                </div>
            </div>
            <div class="col-4 mt-1 px-1" style="border-right: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">DEMAND</div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Human(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <div class="text-start ps-1 text-coefficient">* Coefficient Used for Calulation is
                        {{coefficient}}L/day</div>
                    <table class="table table-sm table-fixed-size mb-1">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Population</th>
                            <th class="text-end">Consumption</th>
                        </tr>
                        {% for item in human_data %}
                        <tr id="humanTable">
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ human_data | map(attribute='count') | sum | round(0)
                                }}
                            </td>
                            <td class="text-end fw-semibold">{{ human_data | map(attribute='value') | sum | round(0)
                                }}
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Livestock(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Consumption</th>
                        </tr>
                        {%for item in livestock_data%}
                        <tr>
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ livestock_data | map(attribute='count') | sum |
                                round(0)
                                }}</td>
                            <td class="text-end fw-semibold">{{ livestock_data | map(attribute='value') | sum |
                                round(0)
                                }}</td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Crops(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Crop Name</th>
                            <th class="text-end">Area</th>
                            <th class="text-end">Consumption</th>
                        </tr>
                        {%for item in crop_data%}
                        <tr>
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ crop_data | map(attribute='count') | sum | round(0)
                                }}
                            </td>
                            <td class="text-end fw-semibold">{{ crop_data | map(attribute='value') | sum | round(0)
                                }}
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) Industry(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    {%if industry_data%}
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Industry Sector</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Water Allocation</th>
                        </tr>
                        {%for item in industry_data%}
                        <tr>
                            <td>{{item.category | title}}</td>
                            <td class="text-end">{{item.count}}</td>
                            <td class="text-end">{{'%0.2f'|format(item.value|float)}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ industry_data | map(attribute='count') | sum |
                                round(0)
                                }}</td>
                            <td class="text-end fw-semibold">{{ industry_data | map(attribute='value') | sum |
                                round(0)
                                }}</td>
                        </tr>
                    </table>
                    {%else%}
                    *There are no industries in this block
                    {%endif%}
                </div>

            </div>
            <div class="col-4 mt-1 px-1" style="border-left: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">SUPPLY</div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Surface Water(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Water Body</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Storage Capacity</th>
                        </tr>
                        {%for item in surface_water_data%}
                        <tr>
                            <td>{{item['category']}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='count') | sum |
                                round(0) }}</td>
                            <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='value') | sum |
                                round(0) }}</td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Groundwater(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Value</th>
                        </tr>
                        {%for item in groundwater_data%}
                        <tr>
                            <td>{{item['name'] | title}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Runoff(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Catchment</th>
                            <th class="text-end">% Runoff</th>
                            <th class="text-end">Yield</th>
                            <th class="text-end">Available</th>
                        </tr>
                        {%for item in runoff_data%}
                        <tr>
                            <td>{{item['catchment'] | title }}</td>
                            <td class="text-end">{{item['runoff']}}</td>
                            <td class="text-end">{{item['runoff_yield']}}</td>
                            <td class="text-end">{{item['supply']}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="2" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ runoff_data | map(attribute='runoff_yield') | sum |
                                round(0) }}</td>
                            <td class="text-end fw-semibold">{{ runoff_data | map(attribute='supply') | sum |
                                    round(0) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) LULC(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="lulc">
                        <tr>
                            <th>Catchment</th>
                            <th>LULC Name</th>
                            <th class="text-end">Area</th>
                        </tr>
                        {%for item in lulc_data%}
                        <tr>
                            <td>{{item['catchment'] | title}}</td>
                            <td>{{item['lulc_name'] | title}}</td>
                            <td class="text-end">{{item['lulc_area'] | round(2)}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="2" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ lulc_data | map(attribute='lulc_area') | sum |
                                round(0) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">e) Rainfall(in mm)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Month-Year</th>
                            <th class="text-end">Actual</th>
                            <th class="text-end">Normal</th>
                        </tr>
                        {%for item in rainfall_data%}
                        <tr>
                            <td>{{item['month']}}</td>
                            <td class="text-end">{{item['actual']}}</td>
                            <td class="text-end">{{item['normal']}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='actual') | sum |
                                round(0) }}</td>
                            <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='normal') | sum |
                                round(0) }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="humanData" id="humanData" value="{{human}}">



    <div class="print d-none d-print-block">
        <nav class="navbar navbar-expand-lg bg-transparent border-bottom p-0 border-dark">
            <div class="container-fluid d-flex justify-content-between my-2">
                <img src="{{url_for('static',filename='assets/niti_logo.png')}}" alt="niti_logo" height="40px"
                    class="ms-3">
                <img src="{{url_for('static',filename='assets/jalagam.png')}}" alt="jalagam" height="40px" class="ms-5">
                <img src="{{url_for('static',filename='assets/giz_logo.png')}}" alt="giz_logo" height="40px">
            </div>
        </nav>
        <div class="row mb-2 mx-1">
            <div class="col-4 mt-1 px-1" style="border-right: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">BASIC INFORMATION</div>
                <div class="container-fluid justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-sizes" id="basic_info">
                        <tr>
                            <th>State</th>
                            <td class="text-start">{{basic_info['State Name']}}</td>
                        </tr>
                        <tr>
                            <th>District</th>
                            <td class="text-start">{{basic_info['District Name']}}</td>
                        </tr>
                        <tr>
                            <th>Block</th>
                            <td class="text-start">{{basic_info['Block Name']}}</td>
                        </tr>
                        <tr>
                            <th>No. of Villages</th>
                            <td class="text-start">{{basic_info['Village Count']}}</td>
                        </tr>
                        <tr>
                            <th>TGA</th>
                            <td class="text-start">{{basic_info['TGA']}}</td>
                        </tr>
                    </table>
                </div>

                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">WATER TRANSFER</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="transfer">
                        <tr>
                            <th>Water Transfer</th>
                            <th class="text-end">Quantity</th>
                        </tr>
                        {% for item in transfer_data %}
                        <tr>
                            <td>{{item['entity_name'] | title}}</td>
                            <td class="text-end">{{item['entity_value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ transfer_data | map(attribute='entity_value') | sum |
                                round(0)
                                }}
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">WATER BUDGET</div>
                <div class="container-fluid justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="water_budget">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Value</th>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center fw-bold">Demand</td>
                        </tr>
                        {% for row in demand_side %}
                        <tr>
                            <td class="text-start">{{row.category | title}}</td>
                            <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="text-center fw-bold">Supply</td>
                        </tr>
                        {% for row in supply_side %}
                        <tr>
                            <td class="text-start">{{row.category | title}}</td>
                            <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="text-center fw-bold">Budget</td>
                        </tr>
                        {% for row in water_budget %}
                        <tr>
                            <td class="text-start">{{row.category | title}}</td>
                            <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            {% set total_supply = water_budget[1]['water_value'] %}
                            {% set total_demand = water_budget[0]['water_value'] %}
                            {% set water_budget_value = total_supply - total_demand %}
                            <td class="text-start fw-bold">
                                {% if water_budget_value < 0 %} Water is Deficient in Block. {% else %} Water is Surplus in Block. {%endif%}</td>
                            <td class="text-end fw-bold">
                                {{'%0.2f'|format(water_budget_value|float)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-4 mt-1 px-1" style="border-right: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">DEMAND</div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Human(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <div class="text-start ps-1 text-coefficient" id="coefficient">* Coefficient Used for Calulation is
                        {{coefficient}}L/day</div>

                    <table class="table table-sm table-fixed-size my-1 human_data " id="human">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Population</th>
                            <th class="text-end">Consumption</th>
                        </tr>
                        {% for item in human_data %}
                        <tr id="humanTable">
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ human_data | map(attribute='count') | sum | round(0)
                                }}
                            </td>
                            <td class="text-end fw-semibold">{{ human_data | map(attribute='value') | sum | round(0)
                                }}
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Livestock(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="livestock">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Consumption</th>
                        </tr>
                        {%for item in livestock_data%}
                        <tr>
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ livestock_data | map(attribute='count') | sum |
                                round(0)
                                }}</td>
                            <td class="text-end fw-semibold">{{ livestock_data | map(attribute='value') | sum |
                                round(0)
                                }}</td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Crops(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="crops">
                        <tr>
                            <th>Crop Name</th>
                            <th class="text-end">Area</th>
                            <th class="text-end">Consumption</th>
                        </tr>
                        {%for item in crop_data%}
                        <tr>
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ crop_data | map(attribute='count') | sum | round(0)
                                }}
                            </td>
                            <td class="text-end fw-semibold">{{ crop_data | map(attribute='value') | sum | round(0)
                                }}
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) Industry(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    {%if industry_data%}
                    <table class="table table-sm table-fixed-size my-1" {%if industry_data%} id="industry" {%endif%}>
                        <tr>
                            <th>Industry Sector</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Water Allocation</th>
                        </tr>
                        {%for item in industry_data%}
                        <tr>
                            <td>{{item.category | title}}</td>
                            <td class="text-end">{{item.count}}</td>
                            <td class="text-end">{{'%0.2f'|format(item.value|float)}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ industry_data | map(attribute='count') | sum |
                                round(0)
                                }}</td>
                            <td class="text-end fw-semibold">{{ industry_data | map(attribute='value') | sum |
                                round(0)
                                }}</td>
                        </tr>
                    </table>
                    {%else%}
                    *There are no industries in this block
                    {%endif%}

                </div>

            </div>
            <div class="col-4 mt-1 px-1" style="border-left: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">SUPPLY</div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Surface Water(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="surface_water">
                        <tr>
                            <th>Water Body</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Storage Capacity</th>
                        </tr>
                        {%for item in surface_water_data%}
                        <tr>
                            <td>{{item['category']}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='count') | sum |
                                round(0) }}</td>
                            <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='value') | sum |
                                round(0) }}</td>
                        </tr>

                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Groundwater(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="groundwater">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Value</th>
                        </tr>
                        {%for item in groundwater_data%}
                        <tr>
                            <td>{{item['name'] | title}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Runoff(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="runoff">
                        <tr>
                            <th>Catchment</th>
                            <th class="text-end">% Runoff</th>
                            <th class="text-end">Yield</th>
                            <th class="text-end">Available</th>
                        </tr>
                        {%for item in runoff_data%}
                        <tr>
                            <td>{{item['catchment'] | title }}</td>
                            <td class="text-end">{{item['runoff']}}</td>
                            <td class="text-end">{{item['runoff_yield']}}</td>
                            <td class="text-end">{{item['supply']}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="2" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ runoff_data | map(attribute='runoff_yield') | sum |
                                round(0) }}</td>
                            <td class="text-end fw-semibold">{{ runoff_data | map(attribute='supply') | sum |
                                    round(0) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) LULC(in HaM)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="lulc">
                        <tr>
                            <th>Catchment</th>
                            <th>LULC Name</th>
                            <th class="text-end">Area</th>
                        </tr>
                        {%for item in lulc_data%}
                        <tr>
                            <td>{{item['catchment'] |title}}</td>
                            <td>{{item['lulc_name'] | title}}</td>
                            <td class="text-end">{{item['lulc_area'] | round(2)}}</td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td colspan="2" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ lulc_data | map(attribute='lulc_area') | sum |
                                round(0) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">e) Rainfall(in mm)</div>
                <div class="container justify-content-center m-0 p-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1" id="rainfall">
                        <tr>
                            <th>Month-Year</th>
                            <th class="text-end">Actual</th>
                            <th class="text-end">Normal</th>
                        </tr>
                        {%for item in rainfall_data%}
                        <tr>
                            <td>{{item['month']}}</td>
                            <td class="text-end">{{item['actual']}}</td>
                            <td class="text-end">{{item['normal']}}</td>
                        </tr>
                        {%endfor%}

                        <tr>
                            <td colspan="1" class="text-center fw-semibold">Total</td>
                            <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='actual') | sum |
                                round(0) }}</td>
                            <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='normal') | sum |
                                round(0) }}</td>
                        </tr>

                    </table>
                </div>
            </div>


        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Function to set the download path and trigger the Excel button
            function setExcelDownloadPath() {
                const excelPath = "{{ url_for('static', filename='assets/water_budget.xlsx') }}";
                const excelButton = document.getElementById('btnExport');
                if (excelButton) {
                    // Update the href attribute of the button if it's an <a> or set data attributes
                    excelButton.setAttribute('href', excelPath);
                    excelButton.setAttribute('download', excelPath.split('/').pop());

                    // Trigger the click event programmatically
                    // excelButton.click();
                } else {
                    console.error('Excel download button with id="btnExport" not found.');
                }
            }
            const excelButton = document.getElementById('btnExport');
            if (excelButton) {
                excelButton.addEventListener('click', function () {
                    setExcelDownloadPath();
                });
            } else {
                console.error('Print button with id="btnExport" not found.');
            }
            // Call the function on page load
            

            // Function to handle print button click
            const printButton = document.getElementById('btnPrint');
            if (printButton) {
                printButton.addEventListener('click', function () {
                    window.print();
                });
            } else {
                console.error('Print button with id="btnPrint" not found.');
            }
        });
    
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>