
// Required
@import "../bootstrap/scss/functions";

$primary: #1a1a1a;
$secondary:#fff;
$success:#4bbf73;
$danger:#d9534f;
$warning:#f0ad4e;
$info:#1f9bcf;
$light:#fff;
$dark:#343a40;
// $theme-colors: (
//     "light":      #c7e6d0,
//     "dark":       #181513,
//     "primary":    #5e3373,
//     "secondary":  #af5665,
//     "info":       #ecafcb,
//     "success":    #36a871,
//     "warning":    #decf34,
//     "danger":     #e9361d,
// );
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );
// // Default variable overrides
// $primary: #8200d9;
// $danger: #ff4136;


// Required
// @import "../bootstrap/scss/variables";
// @import "../bootstrap/scss/variables-dark";
// @import "../bootstrap/scss/maps";
// @import "../bootstrap/scss/mixins";
// @import "../bootstrap/scss/root";
// @import "../bootstrap/scss/forms";
// @import "../bootstrap/scss/helpers";
// @import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/bootstrap";

// Optional Bootstrap components here
// @import "../bootstrap/scss/reboot";
// @import "../bootstrap/scss/type";
// etc
.breadcrumb-item + .breadcrumb-item::before {
  color:white;
}
.mt-n5{
    margin-top: -0.5em;
}
.mt-n2{
  margin-top: -0.2em;
}
.mt-6{
  margin-top: 6rem !important;
}
.fs-7{
    font-size: 0.8rem;
}
.fs-8{
    font-size: 0.7rem;
}
.fs-9{
    font-size: 0.65rem;
}
.h-80{
  height: 70vh;
  max-height: 75vh;
}
.h-70{
  height: 60vh;
  max-height: 70%;
}
.h-60{
  height: 50vh;
  max-height: 60%;
}
.form-floating > label::after {
  background-color: transparent !important;
}
/* CSS Animated Background */
html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #333300
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* END CSS Animated Background */
/* Center Card*/

.center-card {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 320px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; // Prevent overflow
}

/* End card center */
/* Chart Table Toggle Button */
:root {
  --primary-color: #fff;
  --secondary-color: #9e29fb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.center-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  padding: 0.75rem;
  border-radius: 99px; // High number for pill effect

  * {
      z-index: 2;
  }

  @media (max-width: 700px) {
      transform: scale(0.6);
  }
  
  input[type="radio"] {
    display: none;
  
    &:checked {
        & + label {
            color: var(--primary-color);
  
            .notification {
                background-color: var(--primary-color);
                color: #fff;
            }
        }
    }
  }

}



.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0px; // High number for pill effect
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in;
}

input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px; // High number for pill effect
  transition: 0.25s ease-out;
}

// Bottom Menu
.bottom-menu {
  &.fade-in {
      width: 1px;
      opacity: 0;
      transition: all 0.75s ease;

      &.show {
          opacity: 1;
          width: 100%;
      }
  }
}

/* End Toggle Button */

/* Variables */
$overlay-bg: rgba(0, 0, 0, 0.5);
$spinner-border-color: #4D658D;
$spinner-before-color: #D4CC6A;
$spinner-after-color: #84417C;
$spinner-text-color: #999;
$header-bg-color: #666;
$content-bg-color: #888;
$font-family: 'PT Sans Narrow', sans-serif;

/* BACKDROP/OVERLAY SPINNERS */
#loading-spinner {
  display: none; // Hidden by default
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $overlay-bg;
  z-index: 9999;
}

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: $spinner-text-color;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: $font-family;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid transparent;
  border-top-color: $spinner-border-color;
  border-bottom-color: $spinner-border-color;
  border-radius: 50%;
  animation: loader 2s linear infinite;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
  }

  &::before {
    border-top-color: $spinner-before-color;
    border-bottom-color: $spinner-before-color;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    animation: loader 3s linear infinite;
  }

  &::after {
    border-top-color: $spinner-after-color;
    border-bottom-color: $spinner-after-color;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    animation: loader 1.5s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#header {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: $header-bg-color;
}

#content {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: $content-bg-color;
}

/* END OVERLAY */

/* PAGE LOAD Animation effect */
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in;

  &.loaded {
      opacity: 1;
  }
}
.slide-in {
  opacity: 0;
  transition: transform 1s ease-in, margin-top 1s ease-in;

  &.loaded {
    transform: translateY(50px);
  }
}

/* END PAGE LOAD Animation Effect */

/* LED Lights */
.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;

  // p {
  //   font-size: 12px;
  //   text-align: center;
  //   margin: 1em;
  // }
}

@mixin led-style($color, $inset-shadow, $outer-shadow) {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: $color;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset $inset-shadow 0 -1px 9px, $outer-shadow 0 2px 12px;
}

.led-red {
  @include led-style(#F00, #441313, rgba(255, 0, 0, 0.5));

  @keyframes blinkRed {
    from {
      background-color: #F00;
    }
    50% {
      background-color: #A00;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }
    to {
      background-color: #F00;
    }
  }

  animation: blinkRed 0.5s infinite;
}

.led-yellow {
  @include led-style(#FF0, #808002, #FF0);

  @keyframes blinkYellow {
    from {
      background-color: #FF0;
    }
    50% {
      background-color: #AA0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
    }
    to {
      background-color: #FF0;
    }
  }

  animation: blinkYellow 1s infinite;
}

.led-green {
  @include led-style(#ABFF00, #304701, #89FF00);
}

.led-blue {
  @include led-style(#24E0FF, #006, #3F8CFF);
}

/* END LED Lights */

/* Custom Dropdown */
.custom-dropdown {
  border-radius: 20px;
  border: 1px solid $gray-300; // Bootstrap's light gray variable
  padding: 10px 15px;
  appearance: none;
  background-color: $white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

  &:focus {
    border-color: $primary; // Bootstrap's primary color variable
    outline: none;
  }
}
/* custome dropdown */

/* Remove spinners */
input[type="number"] {
  appearance: textfield; // Standard property for compatibility
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    -webkit-appearance: none; // Remove default spinner buttons
    margin: 0; // Optional: Remove margin for better layout
  }

  -moz-appearance: textfield; // Firefox: Remove spinner buttons
}

/* Remove spinners*/

// // Required
// @import "../bootstrap/scss/functions";

// $primary: #9e29fb;
// $secondary:#f564ff;
// $success:#53b011;
// $danger:#f54a4a;
// $warning:#feaf3b;
// $info:#b3e7f8;
// $light:#e0e0e0;
// $dark:#142527;
// // $theme-colors: (
// //     "light":      #c7e6d0,
// //     "dark":       #181513,
// //     "primary":    #5e3373,
// //     "secondary":  #af5665,
// //     "info":       #ecafcb,
// //     "success":    #36a871,
// //     "warning":    #decf34,
// //     "danger":     #e9361d,
// // );
// // $theme-colors: (
// //   "primary":    $primary,
// //   "secondary":  $secondary,
// //   "success":    $success,
// //   "info":       $info,
// //   "warning":    $warning,
// //   "danger":     $danger,
// //   "light":      $light,
// //   "dark":       $dark
// // );
// // // Default variable overrides
// // $primary: #8200d9;
// // $danger: #ff4136;
