{% extends 'mobile/base.html' %}
{% block title %} Groundwater {% endblock %}
{% from 'mobile/components.html' import chart %}
{% block content %}
<div id="cardCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">        
        {{chart()}}
      </div>
      <div class="carousel-item">
        <h6>Ground Water Supply</h6>
        <table class="table table-bordered table-sm fs-7 mb-0">
            <thead>
                <tr>
                    {% for row in table_data %}
                    <th>{{row.name | title}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>                  
                <tr>
                    {% for row in table_data %}
                    <td class="text-end">{{row.value}}</td>
                    {% endfor %}
                </tr>                    
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <input type="hidden" name="chartData" id="chartData" value="{{chart_data}}">
{% endblock %}
{% block scripts %}
<script>
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    let chart_data = JSON.parse(document.getElementById('chartData').value)
    var option;

    option = {
    tooltip: {
        trigger: 'item'
    },
    legend: {
        show:true,
        orient:'vertical',
        bottom: '5%',
        left: 'center',
        top: 'center'
    },
    series: [
        {
        name: 'Access From',
        type: 'pie',
        radius: ['60%', '90%'],
        avoidLabelOverlap: false,
        itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
        },
        label: {
            show: false,
            position: 'center'
        },
        emphasis: {
            label: {
            show: true,
            fontSize: 40,
            fontWeight: 'bold'
            }
        },
        labelLine: {
            show: false
        },
        data: chart_data
        }
    ]
    };

    option && myChart.setOption(option);
</script>
{% endblock %}