{% extends 'mobile/base.html' %}
{% block title %} Runoff {% endblock %}
{% from 'mobile/components.html' import chart %}
{% block content %}
<div id="cardCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">        
        {{chart()}}
      </div>
      <div class="carousel-item">
        <h6>Runoff</h6>
        <table class="table table-bordered table-sm fs-7 mb-0">
            <thead class="text-center">
                <tr>
                    <th>Catchment</th>
                    <th>Area</th>
                    <th>% Runoff</th>
                    <th>Runoff</th>
                </tr>
            </thead>
            <tbody>
                {% for row in catchments %}
                <tr>
                    <td class="text-start">{{row.name | title}}</td>
                    <td class="text-end">{{row.area}}</td>
                    <td class="text-end">{{row.percent_runoff}}</td>
                    <td class="text-end">{{row.runoff}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
  <input type="hidden" name="chartData" id="chartData" value="{{chart_data}}">
{% endblock %}
{% block scripts %}
<script>
var chartDom = document.getElementById('main');
    let chart_data = JSON.parse(document.getElementById('chartData').value)
    var myChart = echarts.init(chartDom);
    var option;

    const gaugeData = [
    {
        value: chart_data[0]['percent'],
        name: chart_data[0]['runoff_type'],
        title: {
        offsetCenter: ['-40%', '80%']
        },
        detail: {
        offsetCenter: ['-40%', '95%']
        },
        actualValue: chart_data[0]['percent'],
    },
    {
        value: chart_data[1]['percent'],
        name: chart_data[1]['runoff_type'],
        title: {
        offsetCenter: ['0%', '80%']
        },
        detail: {
        offsetCenter: ['0%', '95%']
        },
        actualValue: chart_data[1]['percent'],
    },
    {
        value: chart_data[2]['percent'],
        name: chart_data[2]['runoff_type'],
        title: {
        offsetCenter: ['40%', '80%']
        },
        detail: {
        offsetCenter: ['40%', '95%']
        },
        actualValue: chart_data[2]['percent'],
    }
    ];
    option = {
    title:{
        text: 'Catchment Area',
        left: 'center',
    },
    series: [
        {
        type: 'gauge',
        anchor: {
            show: true,
            showAbove: true,
            size: 18,
            itemStyle: {
            color: '#FAC858'
            }
        },
        pointer: {
            icon: 'path://M2.9,0.7L2.9,0.7c1.4,0,2.6,1.2,2.6,2.6v115c0,1.4-1.2,2.6-2.6,2.6l0,0c-1.4,0-2.6-1.2-2.6-2.6V3.3C0.3,1.9,1.4,0.7,2.9,0.7z',
            width: 8,
            length: '80%',
            offsetCenter: [0, '8%']
        },
        progress: {
            show: true,
            overlap: true,
            roundCap: true
        },
        axisLine: {
            roundCap: true
        },
        data: gaugeData,
        title: {
            fontSize: 10
        },
        detail: {
            width: 15,
            height: 10,
            fontSize: 9,
            color: '#fff',
            backgroundColor: 'inherit',
            borderRadius: 3,
            formatter: '{value}%'
        }
        }
    ]
    };

    option && myChart.setOption(option);
</script>
{% endblock %}