{% extends 'mobile/base.html' %}
{% block title %} Register {% endblock %}
{% from 'mobile/components.html' import validation_input %}
{% block content %}
    <form action="{{url_for('auth.change_password')}}" method="post">
        <div class="fs-4 fw-lighter text-center font-monospace text-primary">Change Password</div>
        <div class="mb-3">
            {{validation_input(label = 'Old Password',id = 'old_password',type='password',valid = 'Looks Good!',invalid = 'Enter your old password')}}
        </div>
        <div class="mb-3">
            {{validation_input(label = 'New Password',id = 'new_password',type='password',valid = 'Looks Good!',invalid = 'Enter new password')}}
        </div>
        <div class="mb-3">
            {{validation_input(label = 'Confirm Password',id = 'confirm_password',type='password',valid = 'Looks Good!',invalid = 'Passwords do not match!')}}
        </div>
        <div class="d-grid gap-2">
            <input class="btn btn-primary mx-2" type="submit" value="Submit" id="btnSubmit">
        </div>
        <a class="text-body-secondary link-underline link-underline-opacity-0 float-end me-2 fs-7" 
        href="{{url_for('auth.login')}}">Login</a>
    </form>
{% endblock %}
{% block scripts %}
<script>
const btnUpdate = document.getElementById('btnSubmit');
const newPassword = document.getElementById('new_password');
const confirmPassword = document.getElementById('confirm_password');

(() => {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
const forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.from(forms).forEach(form => {
form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
    event.preventDefault()
    event.stopPropagation()
    }

    form.classList.add('was-validated')
}, false)
});

// Real-time validation
const inputs = document.querySelectorAll('input, select');

// Attach real-time validation to all input/select fields
inputs.forEach(input => {
    input.addEventListener('input', () => validateField(input));
    input.addEventListener('change', () => validateField(input));
});

function validateField(input) {
    const validFeedback = input.parentElement.querySelector('.valid-feedback');
    const invalidFeedback = input.parentElement.querySelector('.invalid-feedback');
    btnUpdate.disabled = false;
    let condition = input.checkValidity();
    if (input.id=='confirm_password'){
        condition = (input.value == newPassword.value) & (input.checkValidity());
    } 
    // else if (input.id=='new_password') {
    //     condition = (input.value == confirmPassword.value) & (input.checkValidity());
    // }
    else{
        condition = input.checkValidity()
    }

    if (condition) {
        validFeedback.style.display = 'block';
        invalidFeedback.style.display = 'none';
        input.classList.remove('is-invalid');
        input.classList.add('is-valid');
    } else {
        validFeedback.style.display = 'none';
        invalidFeedback.style.display = 'block';
        input.classList.remove('is-valid');
        input.classList.add('is-invalid');
    }
}
})()
</script>
{% endblock %}