{% extends 'mobile/base.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="overflow-y-scroll" style="height:30vh !important;">
    <table class="table table-bordered table-sm fs-7 mb-0">
        <thead class="text-center">
            <tr>
                <th>S.No.</th>
                <th>Username</th>
                <th>State</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            {% for row in users %}
            <tr>
                <td class="text-center">
                    {{loop.index}}
                </td>
                <td class="text-start text-truncate" style="max-width: 150px;">
                    {{row['username']}}
                </td>
                <td class="text-center" id="userState">
                    {{row['state_name']}}
                </td>
                <td class="text-center" id="userStatus"> 
                    <button class="btn btn-primary btn-small fs-9" role="button" 
                    data-id="{{ row['id'] }}" id="btnReset"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;">Reset</button>                       
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
<input type="hidden" id="postUrl" value="{{post_url}}">
{% endblock %}
{% block scripts %}
<script>
// Reset button event
document.getElementById('btnReset').addEventListener("click", (event) => {
    event.preventDefault();
    postUrl = document.getElementById('postUrl').value
    toggleSpinner();
    const user_id = {'id': event.target.dataset.id}
    // Post updated crop array to the server
    fetch(postUrl, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(user_id)
    }).then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
            toggleSpinner();
        }
        return response.json(); // Parse JSON response
    })
    .then(data => {
        if (data.redirect_url) {
            toggleSpinner();
            window.location.href = data.redirect_url; // Redirect to the URL provided
        } else {
            alert("No redirect URL provided.");
        }
    }).catch(error => {
        console.error("Error submitting data:", error);
        alert("An error occurred while submitting data.");
        toggleSpinner();
    });
});
</script>
{% endblock %}