{% extends 'base.html' %}
{% block title %}<title>District wise</title>{%endblock%}
{% block content %}
<div class="container text-center">
    <h1 class="pt-2">District Wise Area</h1>

    <div class="plot">
        <canvas id="myChart" height="300"></canvas>
    </div>
</div>

{% endblock %}


{%block script%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ district_wise_label | safe}},
                datasets: [{
                    label: 'District',
                    data: {{ district_wise_value | safe}},
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                    indexAxis: 'y', // Set the index axis to 'y' for horizontal bar chart
                    scales: {
                        x: {
                            beginAtZero: true
                        }
                    }
                }
        });
    });
    
</script>

{%endblock%}