{% extends 'base.html' %}
{% block title %}<title>Category Wise Area</title>{%endblock%}
{% block content %}
<div class="container text-center">
    <h1 class="pt-2">Category Wise Area ({{district_db.name | title}})</h1>

    <div class="plot">
        <canvas id="myChart" height="150"></canvas>
    </div>
</div>

{% endblock %}


{%block script%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ category_wise_label | safe}},
                datasets: [{
                    label: 'Category',
                    data: {{ category_wise_value | safe}},
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                 // Set the index axis to 'y' for horizontal bar chart
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>


{%endblock%}