{% extends 'base.html' %}
{% block title %}<title>State wise</title>{%endblock%}
{% block content %}
<div class="container text-center">
    <h1 class="pt-2">{{title}}</h1>
    <form action="{{url_for('dashboard.state_wise_area')}}" method="post">
        <div>
            <select class="form-select" name="state" id="exampleSelect1">
                <option class="Selected" value="0">All States</option>
                
                {% for item in states %}
                <option value="{{item.code}}">{{item.name | title()}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>

<div class="container text-center mt-3">

    <div class="plot">
        <canvas id="myChart" height="200"></canvas>
    </div>
</div>

{% endblock %}


{%block script%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ state_wise_label | safe}},
                datasets: [{
                    label: 'State',
                    data: {{ state_wise_value | safe}},
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y', // Set the index axis to 'y' for horizontal bar chart
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>


{%endblock%}