<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Budget</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/drop.png')}}">

    <style>
        .fs-5 {
            font-size: 1rem !important;
        }

        .fs-6 {
            font-size: 0.75rem !important;
        }

        .fs-7 {
            font-size: 0.6rem !important;
        }

        /* .table-fixed-size {
            table-layout: fixed;
        } */
        @media print {
            body {
                -webkit-print-color-adjust: exact;
                /* For Safari/Chrome */
                print-color-adjust: exact;
                /* Standard property */
            }
        }
    </style>

</head>

<body>
    <div class="container px-5 d-print-none">
        <nav class="navbar navbar-expand-lg bg-transparent border-bottom p-0 border-dark">
            <div class="row mx-2 my-1 w-100">
                <div class="col justify-content-center">
                    <img src="{{url_for('static',filename='assets/mord logo.png')}}" alt="Mord_logo" height="40px"
                        class="me-3">
                    <img src="{{url_for('static',filename='assets/NITI_Aayog_logo.svg.png')}}" alt="NITI_Aayog_logo"
                        height="40px" class="ms-3">
    
                </div>
                <div class="col text-center mt-1">
                    <img src="{{url_for('static',filename='assets/jalagam.png')}}" alt="Jalagam" height="40px" class="me-4">
                </div>
                <div class="col text-end">
                    <img src="{{url_for('static',filename='assets/giz logo.png')}}" alt="giz_logo" height="40px">
                </div>
            </div>
        </nav>
    
        <div class="text-center fw-bold fs-5 mx-1 mt-2" style="background:#dee2e6;">BASIC INFORMATION</div>
        <div class="container-fl justify-content-center m-0 fs-7">
            <table class="table table-sm table-fixed-sizes">
                <tr>
                    <th style="width: 30% !important;">State</th>
                    <td class="text-start">{{payload['state_name']}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">District</th>
                    <td class="text-start">{{payload['district_name']}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">Block</th>
                    <td class="text-start">{{payload['block_name']}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">No. of Villages</th>
                    <td class="text-start">{{village_count}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">TGA</th>
                    <td class="text-start">{{tga}}</td>
                </tr>
            </table>
        </div>
        <div class="row mb-2 mx-1">
            <div class="col-8 mt-1 px-1">
                <div class="text-center fw-bold fs-5 ps-2" style="background:#dee2e6;">DEMAND</div>
                <div class="row ps-2" style="height: 98% !important;">
                    <div class="col-6 mt-1 px-1 " style="border-right: 1px solid lightgray;">
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Human(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Description</th>
                                    <th class="text-end">Population</th>
                                    <th class="text-end">Consumption</th>
                                </tr>
                                {% for item in human_data %}
                                <tr>
                                    <td>{{item['category'] | title}}</td>
                                    <td class="text-end">{{item['count']}}</td>
                                    <td class="text-end">{{item['value']}}</td>
                                </tr>
                                {%endfor%}
                                
                                    <tr>
                                        <td colspan="1" class="text-center fw-semibold">Total</td>
                                        <td class="text-end fw-semibold">{{ human_data | map(attribute='count') | sum | round(0)
                                            }}
                                        </td>
                                        <td class="text-end fw-semibold">{{ human_data | map(attribute='value') | sum | round(0)
                                            }}
                                        </td>
                                    </tr>
                                
                            </table>
                        </div>
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Crops(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Crop Name</th>
                                    <th class="text-end">Area</th>
                                    <th class="text-end">Consumption</th>
                                </tr>
                                {%for item in crop_data%}
                                <tr>
                                    <td>{{item['category'] | title}}</td>
                                    <td class="text-end">{{item['count']}}</td>
                                    <td class="text-end">{{item['value']}}</td>
                                </tr>
                                {%endfor%}
                                
                                    <tr>
                                        <td colspan="1" class="text-center fw-semibold">Total</td>
                                        <td class="text-end fw-semibold">{{ crop_data | map(attribute='count') | sum | round(0)
                                            }}
                                        </td>
                                        <td class="text-end fw-semibold">{{ crop_data | map(attribute='value') | sum | round(0)
                                            }}
                                        </td>
                                    </tr>
                                
                            </table>
                        </div>
        
                    </div>
        
                    <div class="col-6 mt-1 px-1">
        
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Livestock(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Description</th>
                                    <th class="text-end">Count</th>
                                    <th class="text-end">Consumption</th>
                                </tr>
                                {%for item in livestock_data%}
                                <tr>
                                    <td>{{item['category'] | title}}</td>
                                    <td class="text-end">{{item['count']}}</td>
                                    <td class="text-end">{{item['value']}}</td>
                                </tr>
                                {%endfor%}
                                
                                    <tr>
                                        <td colspan="1" class="text-center fw-semibold">Total</td>
                                        <td class="text-end fw-semibold">{{ livestock_data | map(attribute='count') | sum |
                                            round(0)
                                            }}</td>
                                        <td class="text-end fw-semibold">{{ livestock_data | map(attribute='value') | sum |
                                            round(0)
                                            }}</td>
                                    </tr>
                                
                            </table>
                        </div>
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) Industry(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            {%if industry_data%}
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Industry Sector</th>
                                    <th class="text-end">Count</th>
                                    <th class="text-end">Water Allocation</th>
                                </tr>
                                {%for item in industry_data%}
                                <tr>
                                    <td>{{item.category | title}}</td>
                                    <td class="text-end">{{item.count}}</td>
                                    <td class="text-end">{{'%0.2f'|format(item.value|float)}}</td>
                                </tr>
                                {%endfor%}
                                <tr>
                                    <td colspan="1" class="text-center fw-semibold">Total</td>
                                    <td class="text-end fw-semibold">{{ industry_data | map(attribute='count') | sum |
                                        round(0)
                                        }}</td>
                                    <td class="text-end fw-semibold">{{ industry_data | map(attribute='value') | sum |
                                        round(0)
                                        }}</td>
                                </tr>
                            </table>
                            {%else%}
                            There are no industry in this block
                            {%endif%}
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="col-4 mt-1 px-1" style="border-left: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">SUPPLY</div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Surface Water(in HaM)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Water Body</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Storage Capacity</th>
                        </tr>
                        {%for item in surface_water_data%}
                        <tr>
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}
                        
                            <tr>
                                <td colspan="1" class="text-center fw-semibold">Total</td>
                                <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='count') | sum |
                                    round(0) }}</td>
                                <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='value') | sum |
                                    round(0) }}</td>
                            </tr>
                        
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Groundwater(in HaM)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Value</th>
                        </tr>
                        {%for item in groundwater_data%}
                        <tr>
                            <td>{{item['name'] | title}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Runoff(in HaM)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Catchment</th>
                            <th class="text-end">% Runoff</th>
                            <th class="text-end">Yield</th>
                            <th class="text-end">Available</th>
                        </tr>
                        {%for item in runoff_data%}
                        <tr>
                            <td>{{item['catchment'] | title }}</td>
                            <td class="text-end">{{item['runoff']}}</td>
                            <td class="text-end">{{item['runoff_yield']}}</td>
                            <td class="text-end">{{item['supply']}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) Rainfall(in mm)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Month-Year</th>
                            <th class="text-end">Actual</th>
                            <th class="text-end">Normal</th>
                        </tr>
                        {%for item in rainfall_data%}
                        <tr>
                            <td>{{item['month']}}</td>
                            <td class="text-end">{{item['actual']}}</td>
                            <td class="text-end">{{item['normal']}}</td>
                        </tr>
                        {%endfor%}
                        
                            <tr>
                                <td colspan="1" class="text-center fw-semibold">Total</td>
                                <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='actual') | sum |
                                    round(0) }}</td>
                                <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='normal') | sum |
                                    round(0) }}</td>
                            </tr>
                        
                    </table>
                </div>
            </div>
    
    
        </div>
        <div class="text-center fw-bold fs-5 mx-1" style="background:#dee2e6;">WATER BUDGET</div>
        <div class="container-fluid justify-content-center m-0 fs-7">
            <table class="table table-sm table-fixed-size my-1">
                <tr>
                    <th>Description</th>
                    <th class="text-end">Value</th>
                </tr>
                <tr>
                    <td colspan="2" class="text-center fw-bold">Demand</td>
                </tr>
                {% for row in demand_side %}
                <tr>
                    <td class="text-start">{{row.category | title}}</td>
                    <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center fw-bold">Supply</td>
                </tr>
                {% for row in supply_side %}
                <tr>
                    <td class="text-start">{{row.category | title}}</td>
                    <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center fw-bold">Budget</td>
                </tr>
                {% for row in water_budget %}
                <tr>
                    <td class="text-start">{{row.category | title}}</td>
                    <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    {% set total_supply = water_budget[1]['water_value'] %}
                    {% set total_demand = water_budget[0]['water_value'] %}
                    {% set water_budget_value = total_supply - total_demand %}
                    <td class="text-start fw-bold">
                        {% if water_budget_value < 0 %}
                        Water is Deficient in Block, Please take necessary actions.
                        {% else %}
                        Water is Surplus in Block, No action is required.
                        {% endif %}</td>
                    <td class="text-end fw-bold">
                        {{'%0.2f'|format(water_budget_value|float)}}</td>
                </tr>
            </table>
        </div>
        <div class="text-center my-4">
            <button class="btn btn-outline-dark" id="btnPrint">Print</button>
        </div>
    </div>
    <div class="print d-none d-print-block">
        <nav class="navbar navbar-expand-lg bg-transparent border-bottom p-0 border-dark">
            <div class="row mx-2 my-1 w-100">
                <div class="col justify-content-center">
                    <img src="{{url_for('static',filename='assets/mord logo.png')}}" alt="Mord_logo" height="40px"
                        class="me-3">
                    <img src="{{url_for('static',filename='assets/NITI_Aayog_logo.svg.png')}}" alt="NITI_Aayog_logo"
                        height="40px" class="ms-3">
    
                </div>
                <div class="col text-center mt-1">
                    <img src="{{url_for('static',filename='assets/jalagam.png')}}" alt="Jalagam" height="40px" class="me-4">
                </div>
                <div class="col text-end">
                    <img src="{{url_for('static',filename='assets/giz logo.png')}}" alt="giz_logo" height="40px">
                </div>
            </div>
        </nav>
    
        <div class="text-center fw-bold fs-5 mx-1 mt-2" style="background:#dee2e6;">BASIC INFORMATION</div>
        <div class="container-fl justify-content-center m-0 fs-7">
            <table class="table table-sm table-fixed-sizes">
                <tr>
                    <th style="width: 30% !important;">State</th>
                    <td class="text-start">{{payload['state_name']}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">District</th>
                    <td class="text-start">{{payload['district_name']}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">Block</th>
                    <td class="text-start">{{payload['block_name']}}</td>
                </tr>
                <tr>
                    <th style="width: 30% !important;">No. of Villages</th>
                    <td class="text-start">{{village_count}}</td>
                </tr>
                <tr>
                    <th>TGA</th>
                    <td class="text-start">{{tga}}</td>
                </tr>
            </table>
        </div>
        <div class="row mb-2 mx-1">
            <div class="col-8 mt-1 px-1">
                <div class="text-center fw-bold fs-5 ps-2" style="background:#dee2e6;">DEMAND</div>
                <div class="row ps-2"  style="height: 98% !important;">
                    <div class="col-6 mt-1 px-1 " style="border-right: 1px solid lightgray;">
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Human(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Description</th>
                                    <th class="text-end">Population</th>
                                    <th class="text-end">Consumption</th>
                                </tr>
                                {% for item in human_data %}
                                <tr>
                                    <td>{{item['category'] | title}}</td>
                                    <td class="text-end">{{item['count']}}</td>
                                    <td class="text-end">{{item['value']}}</td>
                                </tr>
                                {%endfor%}
                                
                                    <tr>
                                        <td colspan="1" class="text-center fw-semibold">Total</td>
                                        <td class="text-end fw-semibold">{{ human_data | map(attribute='count') | sum | round(0)
                                            }}
                                        </td>
                                        <td class="text-end fw-semibold">{{ human_data | map(attribute='value') | sum | round(0)
                                            }}
                                        </td>
                                    </tr>
                                
                            </table>
                        </div>
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Crops(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Crop Name</th>
                                    <th class="text-end">Area</th>
                                    <th class="text-end">Consumption</th>
                                </tr>
                                {%for item in crop_data%}
                                <tr>
                                    <td>{{item['category'] | title}}</td>
                                    <td class="text-end">{{item['count']}}</td>
                                    <td class="text-end">{{item['value']}}</td>
                                </tr>
                                {%endfor%}
                                
                                    <tr>
                                        <td colspan="1" class="text-center fw-semibold">Total</td>
                                        <td class="text-end fw-semibold">{{ crop_data | map(attribute='count') | sum | round(0)
                                            }}
                                        </td>
                                        <td class="text-end fw-semibold">{{ crop_data | map(attribute='value') | sum | round(0)
                                            }}
                                        </td>
                                    </tr>
                                
                            </table>
                        </div>
        
                    </div>
        
                    <div class="col-6 mt-1 px-1">
        
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Livestock(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Description</th>
                                    <th class="text-end">Count</th>
                                    <th class="text-end">Consumption</th>
                                </tr>
                                {%for item in livestock_data%}
                                <tr>
                                    <td>{{item['category'] | title}}</td>
                                    <td class="text-end">{{item['count']}}</td>
                                    <td class="text-end">{{item['value']}}</td>
                                </tr>
                                {%endfor%}
                                
                                    <tr>
                                        <td colspan="1" class="text-center fw-semibold">Total</td>
                                        <td class="text-end fw-semibold">{{ livestock_data | map(attribute='count') | sum |
                                            round(0)
                                            }}</td>
                                        <td class="text-end fw-semibold">{{ livestock_data | map(attribute='value') | sum |
                                            round(0)
                                            }}</td>
                                    </tr>
                                
                            </table>
                        </div>
                        
                        <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) Industry(in HaM)</div>
                        <div class="container justify-content-center m-0 fs-7">
                            {%if industry_data%}
                            <table class="table table-sm table-fixed-size my-1">
                                <tr>
                                    <th>Industry Sector</th>
                                    <th class="text-end">Count</th>
                                    <th class="text-end">Water Allocation</th>
                                </tr>
                                {%for item in industry_data%}
                                <tr>
                                    <td>{{item.category | title}}</td>
                                    <td class="text-end">{{item.count}}</td>
                                    <td class="text-end">{{'%0.2f'|format(item.value|float)}}</td>
                                </tr>
                                {%endfor%}
                                <tr>
                                    <td colspan="1" class="text-center fw-semibold">Total</td>
                                    <td class="text-end fw-semibold">{{ industry_data | map(attribute='count') | sum |
                                        round(0)
                                        }}</td>
                                    <td class="text-end fw-semibold">{{ industry_data | map(attribute='value') | sum |
                                        round(0)
                                        }}</td>
                                </tr>
                            </table>
                            {%else%}
                            There are no industry in this block
                            {%endif%}
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="col-4 mt-1 px-1" style="border-left: 1px solid lightgray;">
                <div class="text-center fw-bold fs-5" style="background:#dee2e6;">SUPPLY</div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">a) Surface Water(in HaM)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Water Body</th>
                            <th class="text-end">Count</th>
                            <th class="text-end">Storage Capacity</th>
                        </tr>
                        {%for item in surface_water_data%}
                        <tr>
                            <td>{{item['category'] | title}}</td>
                            <td class="text-end">{{item['count']}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}
                        
                            <tr>
                                <td colspan="1" class="text-center fw-semibold">Total</td>
                                <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='count') | sum |
                                    round(0) }}</td>
                                <td class="text-end fw-semibold">{{ surface_water_data | map(attribute='value') | sum |
                                    round(0) }}</td>
                            </tr>
                        
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">b) Groundwater(in HaM)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Value</th>
                        </tr>
                        {%for item in groundwater_data%}
                        <tr>
                            <td>{{item['name'] | title}}</td>
                            <td class="text-end">{{item['value']}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">c) Runoff(in HaM)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Catchment</th>
                            <th class="text-end">% Runoff</th>
                            <th class="text-end">Yield</th>
                            <th class="text-end">Available</th>
                        </tr>
                        {%for item in runoff_data%}
                        <tr>
                            <td>{{item['catchment'] | title }}</td>
                            <td class="text-end">{{item['runoff']}}</td>
                            <td class="text-end">{{item['runoff_yield']}}</td>
                            <td class="text-end">{{item['supply']}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="fw-semibold fs-6 fw-semibold ms-1 mt-1">d) Rainfall(in mm)</div>
                <div class="container justify-content-center m-0 fs-7">
                    <table class="table table-sm table-fixed-size my-1">
                        <tr>
                            <th>Month-Year</th>
                            <th class="text-end">Actual</th>
                            <th class="text-end">Normal</th>
                        </tr>
                        {%for item in rainfall_data%}
                        <tr>
                            <td>{{item['month']}}</td>
                            <td class="text-end">{{item['actual']}}</td>
                            <td class="text-end">{{item['normal']}}</td>
                        </tr>
                        {%endfor%}
                        
                            <tr>
                                <td colspan="1" class="text-center fw-semibold">Total</td>
                                <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='actual') | sum |
                                    round(0) }}</td>
                                <td class="text-end fw-semibold">{{ rainfall_data | map(attribute='normal') | sum |
                                    round(0) }}</td>
                            </tr>
                        
                    </table>
                </div>
            </div>
    
    
        </div>
        <div class="text-center fw-bold fs-5 mx-1" style="background:#dee2e6;">WATER BUDGET</div>
        <div class="container-fluid justify-content-center m-0 fs-7">
            <table class="table table-sm table-fixed-size my-1">
                <tr>
                    <th>Description</th>
                    <th class="text-end">Value</th>
                </tr>
                <tr>
                    <td colspan="2" class="text-center fw-bold">Demand</td>
                </tr>
                {% for row in demand_side %}
                <tr>
                    <td class="text-start">{{row.category | title}}</td>
                    <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center fw-bold">Supply</td>
                </tr>
                {% for row in supply_side %}
                <tr>
                    <td class="text-start">{{row.category | title}}</td>
                    <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center fw-bold">Budget</td>
                </tr>
                {% for row in water_budget %}
                <tr>
                    <td class="text-start">{{row.category | title}}</td>
                    <td class="text-end">{{'%0.2f'|format(row.water_value|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                    {% set total_supply = water_budget[1]['water_value'] %}
                    {% set total_demand = water_budget[0]['water_value'] %}
                    {% set water_budget_value = total_supply - total_demand %}
                    <td class="text-start fw-bold">
                        {% if water_budget_value < 0 %}
                        Water is Deficient in Block, Please take necessary actions.
                        {% else %}
                        Water is Surplus in Block, No action is required.
                        {% endif %}</td>
                    <td class="text-end fw-bold">
                        {{'%0.2f'|format(water_budget_value|float)}}</td>
                </tr>
            </table>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById("btnPrint").addEventListener("click", function () {
            window.print();
        });
    </script>
</body>

</html>