{% extends 'base.html' %}
{% block title %}Select{% endblock %}
{% block content %}
{{super()}}
<!-- Dropdown Trigger -->
<div class="container">
    <form action="{{url_for('village_water_budget.display_requirement_table')}}" class="card shadow-sm mt-3" method="POST">
        <div class="card-header text-center fw-semibold py-1 fs-7">Select State/District/Block/Village</div>
        <div class="card-body">
            <div class="mt-2">
                <!-- <label for="ddStates" class="form-label fw-lighter fs-7 mb-0">Select a State</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddStates"
                    name="ddStates">
                    <option value="-1" disabled selected>Select State</option>
                    {% for state in states %}
                    <option value="{{state['id'] | safe}}">{{ state["name"] | safe}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-2">
                <!-- <label for="ddDistricts" class="form-label fw-lighter fs-7 mb-0" >Select a District</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddDistricts"
                    name="ddDistricts" disabled>
                    <option value="-1" disabled selected>Select District</option>
                </select>
            </div>
            <div class="mt-2">
                <!-- <label for="ddBlocks" class="form-label fw-lighter fs-7 mb-0" >Select a Block</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddBlocks" name="ddBlocks"
                    disabled>
                    <option value="-1" disabled selected>Select Block</option>
                </select>
            </div>
            <div class="mt-2">
                <!-- <label for="ddVillages" class="form-label fw-lighter fs-7 mb-0" >Select a Village</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddVillages"
                    name="ddVillages" disabled>
                    <option value="-1" disabled selected>Select Village</option>
                </select>
            </div>
        </div>
        <div class="d-grid gap-2">
            <input type="submit" class="btn btn-primary m-2 disabled fs-7" id="btnSubmit" name="btnSubmit" />
        </div>
    </form>


    {% if crops_table %}
    <div class="table-responsive-lg">
        <table class="table table-sm table-bordered border-dark">
            <thead class="thead-primary">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Crop</th>
                    <th scope="col">Area</th>
                    <th scope="col">Req.per hect</th>
                    <th scope="col">Present Water</th>
                    <th scope="col">Groundwater</th>
                    <th scope="col">Additional</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(total_crop_type)%}
                {% for row in water_required[i] %}
                {% set span_count = water_required[i] | length %}
                {% if loop.index == 1 %}
                
                <tr class="table-group-divider">
                    <td class="centered-cell" rowspan="{{ span_count}}">{{row[0]}}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                </tr>
                {%endif%}
                {%endfor%}
                {%endfor%}
            </tbody>
        </table>
    </div>

    {% endif %}

</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        // --DEFINE CONSTANTS--

        // --DEFINE VARIABLES--
        var dd_states = $("#ddStates");
        var dd_districts = $("#ddDistricts");
        var dd_blocks = $("#ddBlocks");
        var dd_villages = $("#ddVillages");
        var submit_button = $("#btnSubmit")

        // --DEFINE METHODS
        function fill_dropdown(data, dd_type) {
            var dropdown_element = "";
            var select_option = "";
            switch (dd_type) {
                case "districts":
                    dd_districts.html("");
                    dd_blocks.html("");
                    dd_blocks.append('<option value="-1">Select Block</option>')
                    dd_villages.html("");
                    dd_villages.append('<option value="-1">Select Village</option>')
                    dropdown_element = dd_districts;
                    select_option = "Select District";
                    // dropdown_element.disabled = false;
                    break;
                case "blocks":
                    dd_blocks.html("");
                    dd_villages.html("");
                    dd_villages.append('<option value="-1">Select Village</option>')
                    dropdown_element = dd_blocks;
                    select_option = "Select Block";
                    dropdown_element.disabled = false;
                    break;
                case "villages":
                    dd_villages.html("");
                    dropdown_element = dd_villages;
                    select_option = "Select Village";
                    dropdown_element.disabled = false;
                    break;
                case "submit":
                    dd_type = "";
                default:
                    break;
            }
            // dropdown_element.html("");
            dropdown_element.append('<option value="-1" disabled selected>' + select_option + '</option>')
            for (let ndx = 0; ndx < data.length; ndx++) {
                var item = data[ndx];
                var html = '<option value="' + item['id'] + '">' + item['name'] + '</option>';
                dropdown_element.append(html);
            }
            dropdown_element.removeAttr('disabled');
        }

        // --AJAX FUNCTION FOR API CALLS--
        function ajax_call(dd_type, payload) {

            $.ajax(
                {
                    url: "/iwater/" + dd_type,
                    type: "post",
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json",
                    data: JSON.stringify(payload),
                    success: function (data) {
                        fill_dropdown(data, dd_type);
                    }
                });
        }

        // --DROPDOWN CHANGE FUNCTIONS--
        dd_states.change(function () {
            dd_districts.attr('disabled', 'disabled');
            dd_blocks.attr('disabled', 'disabled');
            dd_villages.attr('disabled', 'disabled')
            submit_button.addClass('disabled');
            var payload = { "select_id": $(this).val() }
            ajax_call("districts", payload)
        });

        dd_districts.change(function () {
            dd_blocks.attr('disabled', 'disabled');
            dd_villages.attr('disabled', 'disabled');
            submit_button.removeClass('disabled');
            var payload = { "select_id": $(this).val() }

            ajax_call("blocks", payload)
        });

        dd_blocks.change(function () {
            dd_villages.attr('disabled', 'disabled')
            var payload = { "select_id": $(this).val() }
            ajax_call("villages", payload)
        });

        // --SUBMIT FUNCTION--
        // submit_button.click(function () {
        //     payload = {
        //         'state_id': dd_states.val(),
        //         'district_id': dd_districts.val(),
        //         'block_id': dd_blocks.val(),
        //         'village_id': dd_villages.val()
        //     }
        //     ajax_call('index', payload)
        // });

        function toggleSelect(element) {

            // Toggle the 'disabled' attribute
            element.disabled = !element.disabled;

            // Optional: You can also change the color to indicate the state
            if (element.disabled) {
                element.style.backgroundColor = "#dddddd"; // Disabled color
            } else {
                element.style.backgroundColor = "#ffffff"; // Enabled color
            }
        }

    });

</script>

{%endblock%}