
<div class="container">
    <form class="card shadow-sm mt-3" method="POST" id="cropForm">
        <div class="card-header text-center fw-semibold py-1 fs-7">Select State/District/Block/Village</div>
        <div class="card-body">
            <div class="mt-2">
                <!-- <label for="ddStates" class="form-label fw-lighter fs-7 mb-0">Select a State</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddStates"
                    name="ddStates">
                    <option value="-1" disabled selected>Select State</option>
                    {% for state in states %}
                    <option value="{{state['id'] | safe}}">{{ state["name"] | safe}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-2">
                <!-- <label for="ddDistricts" class="form-label fw-lighter fs-7 mb-0" >Select a District</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddDistricts"
                    name="ddDistricts" disabled>
                    <option value="-1" disabled selected>Select District</option>
                </select>
            </div>
            <div class="mt-2">
                <!-- <label for="ddBlocks" class="form-label fw-lighter fs-7 mb-0" >Select a Block</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddBlocks" name="ddBlocks"
                    disabled>
                    <option value="-1" disabled selected>Select Block</option>
                </select>
            </div>
            <div class="mt-2">
                <!-- <label for="ddVillages" class="form-label fw-lighter fs-7 mb-0" >Select a Village</label> -->
                <select class="form-select form-select-sm fs-7" aria-label="select states" id="ddVillages"
                    name="ddVillages" disabled>
                    <option value="-1" disabled selected>Select Village</option>
                </select>
            </div>

        </div>

        <!-- <div class="d-grid gap-2">
            <input type="submit" class="btn btn-primary m-2 disabled fs-7" id="btnSubmit" name="btnSubmit" />
        </div> -->
    </form>
    <div id="crop_table" class="table-responsive mt-3" style="display: none;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Crop</th>
                    <th class="text-right">Area</th>
                    <th class="text-right">Coefficient</th>
                </tr>
            </thead>
            <tbody id="cropTableBody">
                <!-- Dynamic rows will be added here -->
            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {
        // --DEFINE CONSTANTS--

        // --DEFINE VARIABLES--
        var dd_states = $("#ddStates");
        var dd_districts = $("#ddDistricts");
        var dd_blocks = $("#ddBlocks");
        var dd_villages = $("#ddVillages");
        var submit_button = $("#btnSubmit")

        // --DEFINE METHODS
        function fill_dropdown(data, dd_type) {
            var dropdown_element = "";
            var select_option = "";
            switch (dd_type) {
                case "districts":
                    dd_districts.html("");
                    dd_blocks.html("");
                    dd_blocks.append('<option value="-1">Select Block</option>')
                    dd_villages.html("");
                    dd_villages.append('<option value="-1">Select Village</option>')
                    dropdown_element = dd_districts;
                    select_option = "Select District";
                    // dropdown_element.disabled = false;
                    break;
                case "blocks":
                    dd_blocks.html("");
                    dd_villages.html("");
                    dd_villages.append('<option value="-1">Select Village</option>')
                    dropdown_element = dd_blocks;
                    select_option = "Select Block";
                    dropdown_element.disabled = false;
                    break;
                case "villages":
                    dd_villages.html("");
                    dropdown_element = dd_villages;
                    select_option = "Select Village";
                    dropdown_element.disabled = false;
                    break;
                case "submit":
                    dd_type = "";
                default:
                    break;
            }
            // dropdown_element.html("");
            dropdown_element.append('<option value="-1" disabled selected>' + select_option + '</option>')
            for (let ndx = 0; ndx < data.length; ndx++) {
                var item = data[ndx];
                var html = '<option value="' + item['id'] + '">' + item['name'] + '</option>';
                dropdown_element.append(html);
            }
            dropdown_element.removeAttr('disabled');
        }

        // --AJAX FUNCTION FOR API CALLS--
        function ajax_call(dd_type, payload) {

            $.ajax(
                {
                    url: "/iwater/" + dd_type,
                    type: "post",
                    contentType: 'application/json;charset=UTF-8',
                    dataType: "json",
                    data: JSON.stringify(payload),
                    success: function (data) {
                        fill_dropdown(data, dd_type);
                    }
                });
        }

        // --DROPDOWN CHANGE FUNCTIONS--
        dd_states.change(function () {
            dd_districts.attr('disabled', 'disabled');
            dd_blocks.attr('disabled', 'disabled');
            dd_villages.attr('disabled', 'disabled')
            submit_button.addClass('disabled');
            var payload = { "select_id": $(this).val() }
            ajax_call("districts", payload)
        });

        dd_districts.change(function () {
            dd_blocks.attr('disabled', 'disabled');
            dd_villages.attr('disabled', 'disabled');
            submit_button.removeClass('disabled');
            var payload = { "select_id": $(this).val() }

            ajax_call("blocks", payload)
        });

        dd_blocks.change(function () {
            dd_villages.attr('disabled', 'disabled')
            var payload = { "select_id": $(this).val() }
            ajax_call("villages", payload)
        });

        // --SUBMIT FUNCTION--
        // submit_button.click(function () {
        //     payload = {
        //         'state_id': dd_states.val(),
        //         'district_id': dd_districts.val(),
        //         'block_id': dd_blocks.val(),
        //         'village_id': dd_villages.val()
        //     }
        //     ajax_call('index', payload)
        // });

        function toggleSelect(element) {

            // Toggle the 'disabled' attribute
            element.disabled = !element.disabled;

            // Optional: You can also change the color to indicate the state
            if (element.disabled) {
                element.style.backgroundColor = "#dddddd"; // Disabled color
            } else {
                element.style.backgroundColor = "#ffffff"; // Enabled color
            }
        }

    });

</script>
<div class="card-body d-flex justify-content-center pt-2 p-1">
    <div class="container p-1">
        <div class="row">
            <div class="col pe-0">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cropoption" id="cropoption1"
                        value="Rabi">
                    <label class="form-check-label" for="cropoption1">
                        Rabi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cropoption" id="cropoption2"
                        value="Kharif">
                    <label class="form-check-label" for="cropoption2">
                        Kharif
                    </label>
                </div>
            </div>
            <div class="col d-grid align-items-center p-0">
                <select class="form-select form-select-sm fs-7" aria-label="Select Crop"
                    id="cropDropdown" name="cropDropdown">
                    <option value="-1" disabled selected>Select Crop</option>
                    
                </select>
            </div>
            <div class="col d-grid align-items-center">
                <input type="text" class="form-control form-select-sm fs-7" id="crop_area"
                    aria-describedby="Crop Area" placeholder="Area">
            </div>
            <div class="col-2 align-items-center d-grid">
                <button type="submit" class="btn btn-outline-primary btn-sm" id="agricultureadd">Add</button>

            </div>
        </div>
    </div>
    <div id="alertContainer" class="container mt-3 p-0">

        <div class="alert alert-success alert-dismissible fade show fs-7" role="alert" id="successAlert-agriculture"
            style="display: none;">
            Data added successfully !!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show fs-7" role="alert" id="failAlert-agriculture"
            style="display: none;">
            Data cannot be added !! Please try again later .
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>
    <div class="container mt-3" style="display: none;" id="agricultureContainer">
        <table id="agricultureTable" class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-end">Area</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row ">
            <div class="button justify-content-center d-grid">
                <button type="button" id="submit-btn-agriculture" class="btn btn-primary">Submit</button>

            </div>
        </div>
    </div>

</div>


<div class="card-body d-flex justify-content-center pt-2 p-1">
    <div class="container p-1">
        <div class="row">
            <div class="col d-grid align-items-center">
                <select class="form-select form-select-sm fs-7" aria-label="Select livestock"
                    id="livestockDropdown" name="livestockDropdown">
                    <option value="-1" disabled selected>Select Livestock</option>
                    {% for livestock in livestocks %}
                    <option value="{{livestock.name | title}}">{{ livestock.name | title}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col d-grid align-items-center">
                <input type="text" class="form-control form-select-sm fs-7" id="livestock_population_size"
                    aria-describedby="population" placeholder="Population Size">
            </div>
            <div class="col-2 align-items-center d-grid">
                <button type="submit" class="btn btn-outline-primary btn-sm" id="livestockadd">Add</button>
            </div>
        </div>
    </div>

    <div id="alertContainer" class="container mt-3 p-0">

        <div class="alert alert-success alert-dismissible fade show fs-7" role="alert" id="successAlert-livestock"
            style="display: none;">
            Data added successfully !!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show fs-7" role="alert" id="failAlert-livestock"
            style="display: none;">
            Data cannot be added !! Please try again later .
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    </div>
    <div class="container mt-3" style="display: none;" id="livestockContainer">
        <table id="livestockTable" class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" class="text-end">Population Size</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row ">
            <div class="button justify-content-center d-grid">
                <button type="button" id="submit-btn-livestock" class="btn btn-primary">Submit</button>

            </div>
        </div>
    </div>
</div>