{% extends 'entry_base.html' %}
{% block title %}New Records{% endblock %}
{% block content %}
{{super()}}
<div class="card m-2 shadow-sm">
    <div class="card-header text-center fw-bold py-1">
        <div class="fs-6 fw-bold mb-0">Add New Crops</div>
        
    </div>
    <div class="card-body justify-content-center pt-2 p-1">
        <div class="row m-0" style="width: 100%;">
            <div class="col">
                <div class="container p-1">
                    <div class="row m-0">
                        <div class="col-2"></div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cropoption"
                                    id="cropoption1" value="Rabi">
                                <label class="form-check-label" for="cropoption1">
                                    Rabi
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="cropoption"
                                    id="cropoption2" value="Kharif">
                                <label class="form-check-label" for="cropoption2">
                                    Kharif
                                </label>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row m-0 mt-1 mb-1">
                        <div class="col d-grid align-items-center p-0">
                            <input class="form-control form-select-sm fs-7"
                                placeholder="Crop Name" id="cropName" name="cropName">
                        </input>
                        </div>
                        <div class="col d-grid align-items-center">
                            <input type="text" class="form-control form-select-sm fs-7"
                                id="water_req" placeholder="Water Req. per Ha" name="water_req">
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-2 align-items-center d-grid">
                <button type="submit" id="agricultureadd"
                    class="btn btn-outline-dark btn-sm mb-1 p-1">Add</button>
            </div>

        </div>
        <div class="row m-0">
            <div id="alertContainer-agriculture" class="container mt-3 p-0"
                style="display: none;">

                <div class="alert alert-success alert-dismissible fade show fs-7" role="alert"
                    id="successAlert-agriculture" style="display: none;">
                    Data added successfully !!
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>

                <div class="alert alert-danger alert-dismissible fade show fs-7" role="alert"
                    id="failAlert-agriculture" style="display: none;">
                    Data cannot be added !! Please try again later .
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>

            </div>
            <div class="container mt-3" style="display: none;" id="agricultureContainer">
                <table id="agricultureTable"
                    class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Name</th>
                            <th scope="col" class="text-end">Water Required</th>
                            <th scope="col" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row ">
                    <div class="button justify-content-center d-grid">
                        <button type="button" id="submit-btn-agriculture"
                            class="btn btn-primary mb-1">Save to DB</button>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var radioInputs = document.getElementsByName('cropoption');
        var tableData = []; // Array to store table data as JSON objects
        // Event listener for state dropdown change

        // Function to enable or disable the submit button based on table rows
        function toggleSubmitButton() {
            var submitBtn = document.getElementById('submit-btn-livestock');
            submitBtn.disabled = document.getElementById('agricultureTable').getElementsByTagName('tbody')[0].rows.length === 0;
        }


        

        
        document.getElementById('agricultureadd').addEventListener('click', function () {
            var radioInputs = document.getElementsByName('cropoption');
            var radioValue;
            for (var i = 0; i < radioInputs.length; i++) {
                if (radioInputs[i].checked) {
                    radioValue = radioInputs[i].value;
                    break;
                }
            }

            var cropName = document.getElementById('cropName').value;
            var textInput = document.getElementById('water_req').value;


            if (textInput.trim() !== '' && radioValue !== undefined) {
                var table = document.getElementById('agricultureTable');
                var tbody = table.getElementsByTagName('tbody')[0];

                // Check if there's already a row with the same gender
                var existingRowIndex = -1;
                for (var i = 0; i < tbody.rows.length; i++) {
                    var row = tbody.rows[i];
                    if (row.cells[0].textContent === radioValue && row.cells[1].textContent === cropName) {
                        existingRowIndex = i;
                        break;
                    }
                }

                if (existingRowIndex !== -1) {
                    // Update existing row
                    var existingRow = tbody.rows[existingRowIndex];
                    existingRow.cells[2].textContent = textInput;

                    // Update corresponding entry in tableData array
                    tableData[existingRowIndex] = {
                        cropType: radioValue,
                        cropName: cropName,
                        water_req: textInput
                    };
                } else {
                    // Add new row
                    var newRow = tbody.insertRow();
                    var cell1 = newRow.insertCell(0);
                    var cell2 = newRow.insertCell(1);
                    var cell3 = newRow.insertCell(2);
                    var cell4 = newRow.insertCell(3);

                    cell1.textContent = radioValue;
                    cell2.textContent = cropName;
                    cell3.textContent = textInput;
                    cell4.innerHTML = '<i class="fas fa-trash delete-icon"></i>';
                    cell3.style.textAlign = 'right'; // Right-align the content in the second column
                    cell4.style.textAlign = 'center'; // Center-align the content in the third column

                    // Store data in JSON format
                    var rowData = {
                        cropType: radioValue,
                        cropName: cropName,
                        water_req: textInput
                    };
                    tableData.push(rowData); // Add rowData to tableData array

                    // Add event listener to delete icon
                    cell4.querySelector('.delete-icon').addEventListener('click', function () {
                        var rowIndex = newRow.rowIndex - 1; // Adjust for header row
                        tbody.deleteRow(rowIndex);
                        tableData.splice(rowIndex, 1); // Remove corresponding entry from tableData array
                        toggleSubmitButton(); // Check if submit button should be disabled
                    });
                }

                document.getElementById('agricultureContainer').style.display = ''; // Make the parent container of the table visible
                toggleSubmitButton(); // Check if submit button should be disabled

                document.getElementById('crop_area').value = '';
                for (var i = 0; i < radioInputs.length; i++) {
                    radioInputs[i].checked = false;
                }
            } else {
                alert('Please select a radio option and enter some text');
            }
        });

        document.getElementById('submit-btn-agriculture').addEventListener('click', function () {
            // Send tableData array as JSON to the API endpoint
            var xhr = new XMLHttpRequest();
            var url = '/iwater/add_new_crops';
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        console.log('Data sent successfully');
                        // Show success alert
                        document.getElementById('alertContainer-agriculture').style.display = '';
                        document.getElementById('successAlert-agriculture').style.display = 'block';
                        // Hide container
                        document.getElementById('agricultureContainer').style.display = 'none';
                        // Optionally reset tableData array and table display
                        tableData = [];
                        document.getElementById('agricultureTable').getElementsByTagName('tbody')[0].innerHTML = '';
                        toggleSubmitButton(); // Ensure submit button state is updated

                        setTimeout(function () {
                            document.getElementById('alertContainer-agriculture').style.display = 'none';
                            document.getElementById('successAlert-agriculture').style.display = 'none';
                        }, 5000);
                    } else {
                        document.getElementById('alertContainer').style.display = '';
                        document.getElementById('failAlert-agriculture').style.display = 'block';
                        console.error('Failed to send data');
                        // Handle error scenario if needed
                        setTimeout(function () {
                            document.getElementById('alertContainer').style.display = 'none';
                            document.getElementById('failAlert-agriculture').style.display = 'none';
                        }, 5000);
                    }
                }
            };
            xhr.send(JSON.stringify(tableData));
        });

        // Initial check and setup of submit button state
        toggleSubmitButton();
    });

</script>
{%endblock%}
