{% extends 'mobile/base.html' %}
{% block title %} Human {% endblock %}
{% from 'mobile/components.html' import select, block_button, chart, table_title, badge, table_head %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center">
        {{table_title(title='Human Water Consumption', subtitle='')}}
    </div>
    <div class="col">
        {% if is_approved %}
        {{badge()}}
        {% endif %}
    </div>
</div>
<div id="cardCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">        
        {{chart()}}
      </div>      
      <div class="carousel-item">        
        <table class="table table-bordered border-light table-sm fs-7 mb-0">
            {{table_head(headings=[
                {'heading':'Description','subheading':'(Total)'},
                {'heading':'Population','subheading':'(in numbers)'},
                {'heading':'Consumption','subheading':'(in Ha M)'}
                ])}}
            <tbody>
                {% for row in human %}
                <tr>
                    <td class="text-start">{{row['category'] | title}}</td>
                    <td class="text-end">{{row['count']| indian_format}}</td>
                    <td class="text-end">{{row['value']|indian_format}}</td>
                </tr>
                {% endfor %}
            </tbody> 
            <tfoot>
                <tr>
                    <td class="fw-semibold">Total</td>
                    <td class="text-end">{{ human | map(attribute='count') | sum | indian_format }}</td>
                    <td class="text-end">{{ human | map(attribute='value') | sum | indian_format }}</td>
                </tr>
            </tfoot>
        </table>
      </div>
    </div>
  </div>
  <input type="hidden" name="chartData" id="chartData" value="{{chart_data}}"> 
{% endblock %}
{% block scripts %}
<script>
    // echart
    let chart_data = JSON.parse(document.getElementById('chartData').value);
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    // const population = [chart_data[0]['value'] ,chart_data[1]['value']]
    // const category = [chart_data[0]['category'],chart_data[1]['category']]
    // const background = [chart_data[0]['background'],chart_data[1]['background']]
    var option;

    option = {
    // title: {
    //    text: 'Human Population'
    // },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
        type: 'shadow'
        }
    },
    legend: {
        orient: 'horizontal',
        right: 10,
        top: 'upper'
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
    },
    yAxis: {
        type: 'category',
        data: ['' ]
    },
    series: [
    {
        name: chart_data[0]['category'],
        type: 'bar',
        data: [chart_data[0]['value']],
        label:{
            show: true,
            // position: 'center',
            // align: 'center',
            verticalAlign:'middle',
            formatter:'{c} Ha M'
        },
        color:[chart_data[0]['background']]
        },
        {
        name: chart_data[1]['category'],
        type: 'bar',
        data: [chart_data[1]['value']],
        label:{
            show: true,
            // position: [50, 10],
            // align: 'center',
            verticalAlign:'middle',
            formatter:'{c} Ha M'
        },
        color:[chart_data[1]['background']]
        }
    ]
    };

    option && myChart.setOption(option);
</script>
{% endblock %}