{%extends 'admin_base.html'%}
{% block title %}
Account - Change Password
{%endblock%}
{%block content%}
{{super()}}

<div class="container mt-3">
    <div class="card my-2 shadow-sm">
        <div class="card-header text-center fw-bold py-1">
            <div class="fs-6 fw-bold mb-0">Change Password</div>
        </div>
        <div class="card-body justify-content-center pt-2 p-1">
            <div class="row m-0" style="width: 100%;">
                <div class="col">
                    <div class="container p-1">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-{%if 'Successfully' in messages[0]%}success{%else%}danger{%endif%} text-center" role="alert">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <form action="{{url_for('admin.change_password',id = current_user.id)}}" method="post">
                            <fieldset>

                                <div>
                                    <input type="password" class="form-control mt-2" id="old_pass"
                                        aria-describedby="emailHelp" name="old_pass" placeholder="Enter Old Password">
                                </div>
                                <div>
                                    <input type="password" class="form-control mt-2" id="new_pass"
                                        aria-describedby="emailHelp" name="new_pass" placeholder="Enter New Password">
                                </div>
                                <div>
                                    <input type="password" class="form-control mt-2" id="new_pass_2"
                                        aria-describedby="emailHelp" name="new_pass_2" placeholder="Enter New Password Again">
                                </div>
                                
                                <div class="row">
                                    
                                    <button type="submit" class="btn btn-primary mt-3 form-size">Change Password</button>
                                    <p class="text-center text-secondary mt-1">Forgot Password? <a href="{{url_for('admin.reset_password',id = current_user.id)}}"></a></p>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


{%endblock%}
