
{% extends 'mobile/base.html' %}
{% block title %} Select Village {% endblock %}
{% from 'mobile/components.html' import select, submit_button %}
{% block content %}

<h5 class="card-title">Select your Village</h5>
{{select(id='dd_district', dd_array=districts,label='Select District' )}}
{{select(id='dd_block', dd_array=[],label='Select Block' )}}  
{{select(id='dd_panchayat', dd_array=[],label='Select Panchayat' )}}  
{{select(id='dd_village', dd_array=[],label='Select Village' )}}  


{{submit_button()}}
<input type="hidden" id="block_url" value="{{url_for('.blocks')}}">
<input type="hidden" id="panchayat_url" value="{{url_for('.panchayats')}}">
<input type="hidden" id="village_url" value="{{url_for('.villages')}}">

<input type="hidden" id="home_url" value="{{url_for('.index')}}">
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Fetch function to handle API calls
        async function fetchData(url, payload) {
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(payload),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                return await response.json();
            } catch (error) {
                console.error('Error fetching data:', error);
                return [];
            }
        }

        // Utility function to populate select elements
        function populateSelect(element, data, placeholder = 'Select an option') {
            element.innerHTML = ''; // Clear previous options
            const placeholderOption = createOption({'text':placeholder, 'value':''});
            placeholderOption.disabled = true;
            placeholderOption.selected = true;
            element.appendChild(placeholderOption);

            data.forEach(item => {
                const option = createOption({'text':item.name, 'value':item.id});
                element.appendChild(option);
            });
            if (element.hasAttribute('disabled')) {
                element.removeAttribute('disabled');
            }
        }

        // Create option for select element
        function createOption(params) {
            const option = document.createElement('option');
            option.textContent = params.text;
            option.value = params.value;
            return option
        }

        // References to the select elements
        let panchayat_url = document.getElementById('panchayat_url');
        let village_url = document.getElementById('village_url');
        let block_url = document.getElementById('block_url');
        let home_url = document.getElementById('home_url');
        let dd_panchayats = document.getElementById('dd_panchayat');
        let dd_villages = document.getElementById('dd_village');
        let dd_districts = document.getElementById('dd_district');
        let dd_blocks = document.getElementById('dd_block');
        let btn_submit = document.getElementById('btn_submit');

        // disable submit button on load
        btn_submit.setAttribute('disabled','disabled');

        // Enable dropdown state on page load
        dd_districts.removeAttribute('disabled','disabled');

        // Event listener for dd_states
        dd_districts.addEventListener('change', async function () {
            const district_id = this.value;
            const url = block_url.value; // Replace with actual endpoint
            const payload = { district_id: district_id };

            const blocks = await fetchData(url, payload);
            populateSelect(dd_blocks, blocks, 'Select Block');
            dd_panchayats.innerHTML = ''; // Clear blocks if state changes
            dd_panchayats.appendChild(createOption({'text': 'Select Panchayat', 'value': ''}));
            dd_panchayats.setAttribute('disabled','disabled');
        });

        // Event listener for dd_districts
        dd_blocks.addEventListener('change', async function () {
            const block_id = this.value;
            const url = panchayat_url.value; // Replace with actual endpoint
            const payload = { block_id: block_id };

            const panchayats = await fetchData(url, payload);
            populateSelect(dd_panchayats, panchayats, 'Select Panchayat');
            dd_villages.innerHTML = ''; // Clear blocks if state changes
            dd_villages.appendChild(createOption({'text': 'Select Village', 'value': ''}));
            dd_villages.setAttribute('disabled','disabled');
        });
        // Event listener for dd_districts
        dd_panchayats.addEventListener('change', async function () {
            const panchayat_id = this.value;
            const url = village_url.value; // Replace with actual endpoint
            const payload = { panchayat_id: panchayat_id };

            const villages = await fetchData(url, payload);
            populateSelect(dd_villages, villages, 'Select Village');
        });
        
        dd_villages.addEventListener('change', ()=>{
            btn_submit.removeAttribute('disabled');
        })

        // submit data
        btn_submit.addEventListener('click', async (event)=>{
            event.preventDefault();
            const district_id = dd_districts.value;
            const district_name = dd_districts.options[dd_districts.selectedIndex].text;
            const block_id = dd_blocks.value;
            const block_name = dd_blocks.options[dd_blocks.selectedIndex].text;
            const panchayat_id = dd_panchayats.value;
            const panchayat_name = dd_panchayats.options[dd_panchayats.selectedIndex].text;
            const village_id = dd_villages.value;
            const village_name = dd_villages.options[dd_villages.selectedIndex].text;
            const url = home_url.value;
            toggleSpinner();
            payload = {
                'district_id':district_id, 'district_name':district_name,
                'block_id': block_id, 'block_name':block_name,
                'panchayat_id': panchayat_id, 'panchayat_name':panchayat_name,
                'village_id': village_id, 'village_name':village_name
            }
            const redirect_url = await fetchData(url, payload);
            window.location.href = redirect_url;
        });
    });
</script>
{% endblock %}