{% extends 'entries/user_base.html' %}
{% block title %} Water Budget {% endblock %}
{% from 'components/macros.html' import menu_link,menu_white_bg %}
{% block content %}
<div class="card fixed-bottom bg-light h-80 border-0 rounded-0 rounded-top-5">
  {{super()}}
    <!-- <div class="d-flex justify-content-end">
      <button type="button" class="btn-close me-2 mt-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div> -->
    <div class="d-flex justify-content-center align-items-center">
        <div class="card-body">
          <table class="table table-bordered table-sm fs-7 text-body-secondary table-light">
            <thead>
              <tr class="text-center">
                <th>Description</th>
                <th>in Ha M</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total Water Demand</td>
                <td class="text-end">{{ '%0.2f' | format(water_budget[0]['consumption']|float) }}</td>
              </tr>
              <tr>
                <td>Total Water Supply</td>
                <td class="text-end">{{'%0.2f' | format(water_budget[1]['consumption']|float)}}</td>
              </tr>
              <tr>
                <td>Deficient/Surplus</td>
                <td class="text-end">{{'%0.2f' | format(water_budget[1]['consumption'] - water_budget[0]['consumption']|float) }}</td>
              </tr>
            </tbody>
          </table>
            <!-- <h5 class="card-title text-center fw-bold">Water Budget</h5> -->
            <div id="main" class="mx-auto" style="width: 80%; height:40vh;"></div>
            <div class="d-flex justify-content-around">
              <div class="text-center">
                <div class="rounded-circle border-danger bg-danger bg-opacity-50" style="height:25px; width:25px; place-content:center;">
                  <span class="text-danger-emphasis fs-7">
                    <i class="fa-solid fa-glass-water"></i>
                  </span>
                </div>
                <div class="fw-bold fs-7 text-body-secondary">
                  47.58
                </div>
              </div>
              <div class="text-center">
                <div class="rounded-circle border-success bg-success bg-opacity-50" style="height:25px; width:25px; place-content:center;">
                  <span class="text-success-emphasis fs-7">
                    <i class="fa-solid fa-glass-water"></i>
                  </span>
                </div>
                <div class="fw-bold fs-7 text-body-secondary">
                  12.84
                </div>
              </div>              
              <!-- <div>
                <span class="rounded-circle border-success bg-success bg-opacity-50 text-success-emphasis">
                  <i class="fa-solid fa-bottle-water"></i>
                </span>
              </div> -->
            </div>
        </div>
    </div>
    <div class="position-absolute w-100 bottom-0 bg-dark">
      <div class="d-flex justify-content-between aligh-items-center px-3"> 
        {#<!--
        {{menu_link(route=url_for('routes.human'), icon='fa-solid fa-people-roof',  name='human')}}
        {{menu_link(route=url_for('routes.livestock'), icon='fa-solid fa-paw',  name='livestock')}}
        {{menu_white_bg(route=url_for('routes.select_block'), font_content='fa-solid fa-scale-unbalanced-flip')}}
        {{menu_link(route=url_for('routes.crops'), icon='fa-brands fa-pagelines',  name='crops')}}
        {{menu_link(route=url_for('routes.industry'), icon='fa-solid fa-industry',  name='industry')}}
        sipSmart UI UX design
          -->#}
          {{menu_link(route=url_for('routes.human'), icon='fa-solid fa-chart-line',  name='demand')}}
          {{menu_white_bg(route=url_for('routes.select_block'), font_content='fa-solid fa-house')}}
          {{menu_link(route=url_for('routes.surface'), icon='fa-solid fa-glass-water-droplet',  name='supply')}}
  
      </div>
    </div>
    <div class="offcanvas offcanvas-bottom rounded-top-5" style="height:70%; max-height:70%;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Water Budget - Block Level</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
      <table class="table table-bordered table-sm fs-7 mb-0">
        <thead class="text-center">
            <tr class="bg-light">
                <th>Description</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="fw-bold bg-danger bg-opacity-50">Demand</td>
            </tr>
            {% for row in demand_side %}
            <tr>
                <td>{{row.category | title}}</td>
                <td class="text-end">{{'%0.2f'|format(row.value|float)}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="fw-bold bg-success bg-opacity-50">Supply</td>
            </tr>
            {% for row in supply_side %}
            {% if row.category %}
            <tr>
                <td>{{row.category | title}}</td>
                <td class="text-end">{{'%0.2f'|format(row.value|float)}}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2" class="fw-bold bg-info bg-opacity-50 text-center">Water Budget</td>
            </tr>
            {% for row in budget_side %}
            <tr>
                <td>{{row.description | title}}</td>
                <td class="text-end">{{'%0.2f'|format(row.value|float)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     </div>
    </div>
    <input type="hidden" name="chartData" id="chartData" value="{{chart_data}}">
</div>
{% endblock %}
{% block scripts %}
<script>
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    let chart_data = JSON.parse(document.getElementById('chartData').value);
    var option;
    const data = chart_data;        
    option = {
        title:{
            text: data[0]['title'],
            left: 'center',
        },
        xAxis: {
            type: 'category',
            data: getCategories(data[0]['data']),
            axisLabel: {
                show: true,
                rotate: 45,
                textStyle: {
                fontSize: 8
                }
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
            label: {
                show: true,
                position: 'inside',
                formatter: function (params){
                if (params.value > 0 ) {
                    return params.value + '%'
                } 
                else {return ''} 
                
                },
                textStyle:{
                fontSize: 8,
                }
            },
            data: transformArray(data[0]['data']),
            type: 'bar'
            }
        ]
        };

        idx = 0
        setInterval(() => {
        myChart.setOption({
            title:{
            text: data[idx]['title'],
            left: 'center',
            },
            xAxis: {
            type: 'category',
            data: getCategories(data[idx]['data']),
            axisLabel: {
                show: true,
                rotate: 45,
                textStyle: {
                fontSize: 8
                }
            }
            },
            yAxis: {
            type: 'value',
            min: 0,
            max: 100,
            },
            series: [
            {
                
                label: {
                show: true,
                position: 'inside',
                formatter:function (params){
                if (params.value > 0 ) {
                    return params.value + '%'
                } 
                else {return ''} 
                
                },
                textStyle:{
                fontSize: 8,
                }
                },
                data: transformArray(data[idx]['data']),
                type: 'bar'
            }
            ]
        });
        idx=idx+1;
        if (idx==3) { idx=0 }
        }, 5000);



        function transformArray(input_array) {
            let output_array = [];
            input_array.forEach((value, idx) => {
                object = {
                value: value['value'],
                itemStyle: {
                    color: value['color']
                }
                }
                output_array.push(object);
            });
            return output_array;
            }

        function getCategories(input_array) {
        output_array=[];
        input_array.forEach((element, idx)=>{
            output_array.push(element['category'])
        });
        return output_array;
        }

    option && myChart.setOption(option);
</script>
{% endblock %}