{% extends 'base.html' %}
{% block title %} External {% endblock %}
{% from 'components/macros.html' import menu_link,menu_white_bg %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">External Water Sources</h1>
      <p class="col-md-8 fs-4">The external water source data is still being updated. Once the data is updated the page shall display contribution from external water resources to a district or a block.</p>
      <button class="btn btn-primary btn-lg" type="button" disabled>coming soon...</button>
    </div>
  </div>
<!--FOOTER-->
<nav class="fixed-bottom bg-dark">
    <div class="d-flex justify-content-between aligh-items-center px-3"> 
            {{menu_link(route=url_for('routes.surface'), icon='fa-solid fa-water',  name='Surface')}}
            {{menu_link(route=url_for('routes.ground'), icon='fa-solid fa-arrow-up-from-ground-water',  name='Ground')}}
            {{menu_white_bg(route=url_for('entries.budget'), font_content='fa-solid fa-scale-unbalanced-flip')}}
            {{menu_link(route=url_for('routes.runoff'), icon='fa-solid fa-cloud-showers-water',  name='Runoff')}}       
            {{menu_link(route=url_for('routes.external'), icon='fa-solid fa-right-from-bracket',  name='External')}}
    </div>
</nav>
{% endblock %}