{% extends 'base.html' %}
{% block title %} Runoff {% endblock %}
{% from 'components/macros.html' import menu_link, card_header, menu_white_bg %}
{% block content %}
{% macro div_card(name='good', value=0, unit='', background='bg-light', index=0) -%}
<div class="mt-3">
    <div class="card shadow rounded-1 bg-{{background}} bg-opacity-25 border-{{background}} mb-1" style="width:100px">
        <div class="p-3">
            <div class="text-center">  
                <img src="{{url_for('static', filename='assets/' + name + '.png')}}" alt="{{name}}" srcset="" height="50px">        
                <div class="fs-7 text-{{background}}-emphasis mt-n5 mb-1">{{name | title}}</div>
                <div class="fs-6">
                    {{value}}
                </div>
                <div class="text-muted mt-n5"><small class="fs-7 fw-lighter">{{unit}}</small></div>                
            </div>
            
        </div>
    </div>
</div>
{%- endmacro %}
<nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
    <ol class="breadcrumb fs-7">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item "><a class=" link-underline link-underline-opacity-0 {% if loop.index == breadcrumbs | length %} link-dark {% endif %}" href="{{breadcrumb.href}}">{{breadcrumb.name}}</a></li>
    {% endfor %}
    </ol>
</nav>
<div class="card rounded-1 shadow mb-3">
    <div class="card-header">
    {{card_header(title='Runoff', subtitle='Good/Bad/Average(in Thousand Ha M)')}}
    </div>
    <div class="card-body">       
        <div class="row mb-3">
            {% for runoff in runoffs %}
            <div class="col">
                <div class="d-flex justify-content-center mt-3">
                    {{div_card(name=runoff.name, value=runoff.value, unit='ha m', background=runoff.background)}}
                </div>
            </div> 
            {% endfor %}      
        </div>   
    </div>
</div>


<div class="card mb-3 rounded-1 shadow ">
    <div class="card-header">
    {{card_header(title='Chart Illustration', subtitle='(in Thousand Ha M)')}}
    </div>
    <div class="card-body">
        <div class="containerpy-3">
            <div id="main" style="width: 100%;height:35vh;"></div>
        </div>
    </div>
</div>

<div class="card mb-5 rounded-1 shadow ">
    <div class="card-header">
    {{card_header(title='Tabular Data', subtitle='Detail Matrix')}}
    </div>
    <div class="card-body">
        <div class="container py-3">
            <table class="table table-bordered table-sm fs-7 mb-0">
                <thead class="text-center">
                    <tr>
                        <th>Catchment</th>
                        <th>Area</th>
                        <th>% Runoff</th>
                        <th>Runoff</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in catchments %}
                    <tr>
                        <td>{{row.name | title}}</td>
                        <td class="text-end">{{row.area}}</td>
                        <td class="text-end">{{row.percent_runoff}}</td>
                        <td class="text-end">{{row.runoff}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        
    </div>
</div>
<nav class="fixed-bottom bg-dark">
    <div class="d-flex justify-content-between aligh-items-center px-3"> 
        {{menu_link(route=url_for('routes.surface'), icon='fa-solid fa-water',  name='Surface')}}
        {{menu_link(route=url_for('routes.ground'), icon='fa-solid fa-arrow-up-from-ground-water',  name='Ground')}}
        {{menu_white_bg(route=url_for('entries.budget'), font_content='fa-solid fa-scale-unbalanced-flip')}}
        {{menu_link(route=url_for('routes.runoff'), icon='fa-solid fa-cloud-showers-water',  name='Runoff')}}       
        {{menu_link(route=url_for('routes.external'), icon='fa-solid fa-right-from-bracket',  name='External')}}
    </div>
</nav>
<input type="hidden" name="chartData" id="chartData" value="{{chart_data}}">
{% endblock %}
{% block scripts %}
<script>
    var chartDom = document.getElementById('main');
    let chart_data = JSON.parse(document.getElementById('chartData').value)
    var myChart = echarts.init(chartDom);
    var option;

    const gaugeData = [
    {
        value: chart_data[0]['percent'],
        name: chart_data[0]['runoff_type'],
        title: {
        offsetCenter: ['-40%', '80%']
        },
        detail: {
        offsetCenter: ['-40%', '95%']
        },
        actualValue: chart_data[0]['percent'],
    },
    {
        value: chart_data[1]['percent'],
        name: chart_data[1]['runoff_type'],
        title: {
        offsetCenter: ['0%', '80%']
        },
        detail: {
        offsetCenter: ['0%', '95%']
        },
        actualValue: chart_data[1]['percent'],
    },
    {
        value: chart_data[2]['percent'],
        name: chart_data[2]['runoff_type'],
        title: {
        offsetCenter: ['40%', '80%']
        },
        detail: {
        offsetCenter: ['40%', '95%']
        },
        actualValue: chart_data[2]['percent'],
    }
    ];
    option = {
    series: [
        {
        type: 'gauge',
        anchor: {
            show: true,
            showAbove: true,
            size: 18,
            itemStyle: {
            color: '#FAC858'
            }
        },
        pointer: {
            icon: 'path://M2.9,0.7L2.9,0.7c1.4,0,2.6,1.2,2.6,2.6v115c0,1.4-1.2,2.6-2.6,2.6l0,0c-1.4,0-2.6-1.2-2.6-2.6V3.3C0.3,1.9,1.4,0.7,2.9,0.7z',
            width: 8,
            length: '80%',
            offsetCenter: [0, '8%']
        },
        progress: {
            show: true,
            overlap: true,
            roundCap: true
        },
        axisLine: {
            roundCap: true
        },
        data: gaugeData,
        title: {
            fontSize: 10
        },
        detail: {
            width: 15,
            height: 10,
            fontSize: 9,
            color: '#fff',
            backgroundColor: 'inherit',
            borderRadius: 3,
            formatter: '{value}%'
        }
        }
    ]
    };
    // setInterval(function () {
    // gaugeData[0].value = +(Math.random() * 100).toFixed(2);
    // gaugeData[1].value = +(Math.random() * 100).toFixed(2);
    // gaugeData[2].value = +(Math.random() * 100).toFixed(2);
    // myChart.setOption({
    //     series: [
    //     {
    //         data: gaugeData
    //     }
    //     ]
    // });
    // }, 2000);

    option && myChart.setOption(option);
</script>
{% endblock %}