.fs-7{
    font-size: 0.65rem !important;
}
.fs-8{
    font-size: 0.5rem !important;
}
.mt-n5{
    margin-top: -0.5rem;
}
.mt-n4{
    margin-top: -0.4rem;
}
.mt-n3{
    margin-top: -0.3rem;
}
.mt-n2{
    margin-top: -0.2rem;
}
.mt-n1{
    margin-top: -0.1rem;
}